[2020-10-25 13:02] pleaseshutup opened #1 "Honeybook forms (contact page) do not load properly"
The contact form does not load properly. If you reload the screen or go directly to the contact page it will load but if you navigate to it like most people will it will not load.

This is something to do with the way the honeybook script loads. It is a <script src="" /> tag that self executes and doesn't seem to execute properly in that scenario.

Having it execute in useEfect() does not work eit

[2020-10-25 13:04] pleaseshutup opened #2 "search input boxes on android web lose focus immediately after focus"
The keyboard pops up and then goes away which prevents the user from being able to use the search at all.

Seems to be only on android mobile web but not ios mobile or android/ios native.

[2020-10-25 15:17] pleaseshutup commented on #2
fixed

[2020-10-25 15:17] #2 closed

[2020-10-25 16:52] pleaseshutup commented on #1
fixed in commit 4dd4413ca180f31873e685631f69c42ab8610e0c

[2020-10-25 16:52] #1 closed

[2020-10-25 16:53] pleaseshutup commented on #2
fixed in 105f5ceff1f1e60fa033101cd124b36bfd700440

[2020-10-26 15:28] CeeWho opened #3 "[Medium Priority] Object instead of text when browsing listings with map"
Problem exists on Google Chrome v86.0.4240.111

Text [Object, Object] appears instead of text or something else when selecting a listing from the map on the browsing page.
![SGB object text issue](https://user-images.githubusercontent.com/12802568/97192491-538d0100-177e-11eb-98d1-c83543972f0d.png)

[2020-10-26 15:32] CeeWho opened #4 "[Low Priority] Green box for restaurant name on listing page is too tall"
Problem found on chrome 86.0.4240.111

The green box that serves as the background for the name of a business on that business's listing page appears to be too tall and extends into the above box.
![SGB Listing GreenboxSize](https://user-images.githubusercontent.com/12802568/97193092-fcd3f700-177e-11eb-87b7-253f4e2bc04f.png)

[2020-10-26 20:35] danilobatson opened #5 "Instagram Thread"
Photo thread on home page isn't there

[2020-10-26 20:38] danilobatson opened #6 "Directions"
Clicking address on individual listings is not hyperlinked to go to map for directions.

[2020-10-26 21:24] pleaseshutup commented on #6
fixed in 1f3cf54c342146fbf0cd36f1826dddc044385ecc

[2020-10-26 21:24] #6 closed

[2020-10-26 21:28] pleaseshutup commented on #4
fixed in ef7c703598a99dd46d3493c5577199682869b467

[2020-10-26 21:28] #4 closed

[2020-10-26 21:29] pleaseshutup commented on #5
instagram feed on home page works for me, you're still having issues? screenshot or what device/browser?

[2020-10-26 21:35] pleaseshutup commented on #3
fixed in 02608610c2fdeb51513cf621fc075746e45affd9

[2020-10-26 21:35] #3 closed

[2020-10-27 00:20] danilobatson opened #7 "Team Page"
On the team page, the photos of everyone are formatted incorrectly and the order is incorrect.

[2020-10-27 00:25] danilobatson opened #8 "Press Page"
Articles are cut off
![image](https://user-images.githubusercontent.com/69876068/97242150-4e48aa00-17b0-11eb-8c0b-9a9de8a92d90.png)

[2020-10-27 00:31] danilobatson opened #9 "Home Page"
"Browse" is hard to see on the home page.

May need to bold the text

[2020-10-27 00:31] danilobatson opened #10 "Cuisine"
Cuisine category is not displayed

[2020-10-27 00:38] danilobatson opened #11 "Sky Gourmet Tacos"
Photos are not fully displayed on the individual listing page or the new listing scroll.

Can only see the top of the quesadilla

[2020-10-27 00:42] danilobatson opened #12 "Individual listing scroll"
Seems to only be a problem on PC not Mac. Or better yet when you have a mouse and not a trackpad.

Could not scroll through all the photos. Eventually from clicking the arrow the scroll stops prematurely. But the using arrows on the keyboard he could scroll through all the photos

[2020-10-27 00:44] danilobatson opened #13 "PC vs Mac"
Looking at sky gourmet tacos through screen share.

On the mac can see the zoomed out photo of the tacos to get a more complete picture.

While PC is too zoomed in and you can only see the very top of the tacos

[2020-10-27 14:05] pleaseshutup commented on #7
fixed 739a58386c706cf0e07c3f1fda622edaf39fc275

[2020-10-27 14:05] #7 closed

[2020-10-27 14:06] pleaseshutup commented on #8
it's just the title and the image provided. how are they cut off? they link to the articles.

[2020-10-27 14:07] pleaseshutup commented on #9
Are you talking about in the nav? a screenshot would help

[2020-10-27 14:08] pleaseshutup commented on #10
Cuisine category is not displayed where?

[2020-10-27 14:13] pleaseshutup commented on #11
the design enforces a specific aspect ratio for an image. They are wide aspect ratios e.g. 16:9

That taco shop photo's are taller than they are wide and have to be cropped to fit into the design's provided aspect ratio to fill the shape. Because of this they are getting cropped but not at a flattering spot. I can't know the content of the image to know if it should show the top/left/right/bottom

[2020-10-27 17:12] danilobatson opened #14 "Mobile"
There are several pages that are in the dropdown menu on the about link on desktop that are not available to get to on mobile (e.g. process and team page)

No map on the listings page

[2020-10-28 04:56] danilobatson commented on #10
Not displayed on the listings page or the individual listing page.

It usually has a tag noting it's cuisine

[2020-10-28 05:02] danilobatson commented on #11
Okay I re-ordered them on prismic. Hopefully it is better. Can't see yet as the deploy is not successful up to this point.

[2020-10-28 05:05] danilobatson commented on #9
On the home page. The browse in the nav is hard to see being right over the soup. Maybe we can put it over the black part of the bowl.

![image](https://user-images.githubusercontent.com/69876068/97393788-6ac40f80-18a0-11eb-8c04-f0816f387565.png)

[2020-10-28 05:06] danilobatson commented on #8
See on the left and right of the article. It is cut off. Makes it hard to see.

![image](https://user-images.githubusercontent.com/69876068/97394781-ae1e7e00-18a0-11eb-9737-649741db2996.png)

[2020-10-28 05:08] danilobatson commented on #5
Yea still no thread. On my mac using google chrome

![image](https://user-images.githubusercontent.com/69876068/97394845-d9a16880-18a0-11eb-96f4-3b00509752ba.png)

[2020-10-28 06:01] danilobatson commented on #9
A good fix would be...
As you scroll down the home page a black box appears in the nav to keep contrast on the titles. Could have that be there permanently and not only appear when scrolling.

[2020-10-28 06:03] danilobatson opened #15 "Urgent: Volunteer Form"
Button to go to the volunteer form doesn't work.

Should also probably be at the top as well as the bottom for those who already know what role they want to fill don't have to go all the way to the bottom.

[https://spicygreenbook.com/volunteer](url)

[2020-10-28 14:13] #15 closed

[2020-10-28 14:21] #14 closed

[2020-10-28 14:24] pleaseshutup commented on #13
Is this a duplicate of:
https://github.com/spicygreenbook/greenbook-app/issues/11

the difference isn't pc or mac it is the screen size thus the aspect ratio and where the image gets cropped.

[2020-10-28 14:40] #10 closed

[2020-10-28 14:47] #5 closed

[2020-10-28 14:56] pleaseshutup commented on #8
I think the intent here with this is similar to the updates page, an image to go with the title and they click to go see the whole article. Not meant to show them a screenshot of the page to read inline.

This page should probably be a 3 column grid which would make the images too small to read anyway.

[2020-10-28 15:10] #9 closed

[2020-10-28 15:10] pleaseshutup commented on #9
i made adjustments that will help, but it kills the whole point of the design to overlap the image with the nav instead of letting it show through.

[2020-10-28 18:47] danilobatson opened #16 "Feature: Volunteer Page Redesign"
![SGB-Volunteer-opened](https://user-images.githubusercontent.com/69876068/97482398-5a00b180-1913-11eb-822b-98eba4a9e723.jpg)
![SGB-Volunteer](https://user-images.githubusercontent.com/69876068/97482410-5d943880-1913-11eb-9694-789d22288a9e.jpg)

[2020-10-28 18:48] danilobatson opened #17 "Feature: Updates Page Redesign"
![SGB-Updates](https://user-images.githubusercontent.com/69876068/97482500-769ce980-1913-11eb-829a-4be81b9b20c7.jpg)

[2020-10-28 18:48] danilobatson opened #18 "Feature: Team Page Redesign"
![SGB-Team](https://user-images.githubusercontent.com/69876068/97482542-85839c00-1913-11eb-90a7-1b6926e00ead.jpg)

[2020-10-28 18:49] danilobatson opened #19 "Feature: Process Page Redesign"
![SGB-Process](https://user-images.githubusercontent.com/69876068/97482592-93d1b800-1913-11eb-85d6-580bfbc9d97a.jpg)

[2020-10-28 18:49] danilobatson opened #20 "Feature: Press Page Redesign"
![SGB-Press](https://user-images.githubusercontent.com/69876068/97482646-a5b35b00-1913-11eb-9702-e68fff57c91b.jpg)

[2020-10-28 18:50] danilobatson opened #21 "Feature: Donate Page Redesign"
![SGB-Donate](https://user-images.githubusercontent.com/69876068/97482703-b95ec180-1913-11eb-8cfd-be689dd16aa8.jpg)

[2020-10-28 18:50] danilobatson opened #22 "Feature: Contact Page Redesign"
![SGB-Contact](https://user-images.githubusercontent.com/69876068/97482744-cc719180-1913-11eb-813d-09e39c01ea7a.jpg)

[2020-10-28 18:51] danilobatson opened #23 "Feature: About Page Redesign"
![SGB-About](https://user-images.githubusercontent.com/69876068/97482807-de533480-1913-11eb-9a05-2a26ea93e4c5.jpg)

[2020-10-29 15:10] pleaseshutup commented on #16
I was able to enhance the look a bit with the provided design, however, this content is managed in prismic and not controlled by the front-end code so it will be quite challenging to take the prismic content and output this. Not impossible but we'll just mark this as progress made and more to do.

[2020-10-29 16:24] danilobatson opened #24 "Home Page Nav"
Can we change "Join" to "Add Request"

Maybe in two line format?

[2020-10-29 16:54] pleaseshutup opened #25 "Add the map to the home page and make it interactive"
good luck

[2020-10-29 17:07] anneocraig opened #26 "Zip Code Search Doesn't Narrow Entries"
Zip Code Search shows all entries across the country. Using Chrome for MacBook Air.

![image](https://user-images.githubusercontent.com/73661319/97607555-871e9400-19e7-11eb-82a3-48f8bcfedbb9.png)

[2020-10-29 20:31] danilobatson opened #27 "Press Mobile"
Hard to see. Screenshot attached.
![0D097AED-FA64-47BA-A90F-019DB378C18A](https://user-images.githubusercontent.com/69876068/97629172-f2b63080-19ea-11eb-9f13-eda3d6450b67.jpeg)

[2020-10-29 20:32] danilobatson opened #28 "Update mobile"
Hard to see. Screenshot attached

![Uploading EA2A49DC-F226-421C-AFE4-C3F596477980.png…]()

[2020-10-29 22:19] erindlilly opened #29 "Most text is not styled to mark it as interactive / lacks hover and clicked states."
All interactive text should be styled similarly to signal that it's interactive. Some of the text is styled in blue; some of it is underlined in its hover state.

[2020-10-29 22:20] erindlilly opened #30 "Pressing enter cannot be used to interact with the search function."
It looks like you have to click the search button to interact with the feature when you should be able to use both keyboard or mouse.

[2020-10-29 22:22] erindlilly opened #31 "The location field does not correctly filter search results."
<img width="1457" alt="SGB_incorrect_location_search" src="https://user-images.githubusercontent.com/54216878/97638743-94517800-1a13-11eb-89e4-b9601f75510f.png">

[2020-10-29 22:25] erindlilly opened #32 "There is no way to click through to the Update entries listed on the homepage."
<img width="1150" alt="SGB_updates_homepage" src="https://user-images.githubusercontent.com/54216878/97638914-f611e200-1a13-11eb-9f4c-f57603598c07.png">

[2020-10-29 22:31] erindlilly opened #33 "Header and footer navigation menu text styles don't match."
I would suggest increasing both font sizes overall to improve readability and give the user a bigger target to click on.

<img width="1364" alt="SGB_navigation_bar_styling" src="https://user-images.githubusercontent.com/54216878/97639219-84866380-1a14-11eb-98e3-d94894992c66.png">

[2020-10-29 23:01] erindlilly opened #34 "Searching for "barbeque" gives no results."
I tried more synonyms like "fish" vs "seafood" and found no other issues, but there could be more.

<img width="1385" alt="SGB_barbeque_search" src="https://user-images.githubusercontent.com/54216878/97641264-e052eb80-1a18-11eb-858b-ff2cc74f928f.png">

[2020-10-29 23:19] pleaseshutup commented on #34
I recommend the solve for this would be to include the keywords you want the listing to show up for in the listing itself. I will let Danillo know this.

Our search is going to be pretty decent but won't be as complex and sophisticated as google by including synonym terms etc.

[2020-10-29 23:19] #34 closed

[2020-10-29 23:20] pleaseshutup commented on #33
This is a great suggestion, however, it is following the provided design. I think this needs to be taken up with Danilo and whomever is the current designer to provide a design if a change is needed.

[2020-10-29 23:20] #33 closed

[2020-10-29 23:53] pleaseshutup commented on #34
We added additional search terms to the content management system and I added support for that new field in the front end. All thats left from here is those that update / manage the listings in prismic to also add search terms like barbeque.

[2020-10-29 23:53] pleaseshutup commented on #32
These are now clickable.

[2020-10-29 23:53] #32 closed

[2020-10-29 23:55] pleaseshutup commented on #31
Location search works, however, it works for locations that are more realistically close to a person. e.g. searching for a city, state or zip code

"irvine, ca" gets a user close. Searching only for "California" could be a 10 hour drive depending on where they are at in california.

[2020-10-29 23:55] #31 closed

[2020-10-29 23:56] pleaseshutup commented on #30
This bugged me too, this is now fixed in commit 36e66dd863ca01d4ff49525571031cae8ca493c4

[2020-10-29 23:56] #30 closed

[2020-10-29 23:57] pleaseshutup commented on #29
To help me out, could you please specify the pages and location on the page where they need to be updated? I have a terrible eye for design and would spend forever trying to find all of these instances.

[2020-10-29 23:58] pleaseshutup commented on #28
Screenshot doesn't work.

[2020-10-30 00:00] #27 closed

[2020-10-30 00:04] pleaseshutup commented on #26
Zip code search seems to work great, could you try again?

Can you show me what you get when you use zip code: 92886 ?

[2020-10-30 00:06] pleaseshutup commented on #24
For this i recommend a designer approve. I changed it to "Add Request"  (maybe you meant add listing?)

two lines seems like a bad idea to me.

[2020-10-30 00:16] anneocraig commented on #26
Attached screenshots. My zipcode 11415 narrowed it down as did 92886
[image: Screen Shot 2020-10-29 at 8.14.26 PM.png]
[image: Screen Shot 2020-10-29 at 8.13.30 PM.png]
*__________________*
all over creative
brand&marketing+content
anne o. craig
347-559-2020

On Thu, Oct 29, 2020 at 8:05 PM pleaseshutup <notifications@github.com>
wrote:

[2020-10-30 01:04] danilobatson commented on #24
I can't think of another word for join. that says add listing. Join is terrible to me and no one business owner who's first time it is at our website will know what that means

[2020-10-30 01:08] danilobatson opened #35 "Feature: Newsroom Page"
File is too big. Sent via email

[2020-10-30 02:14] pleaseshutup commented on #20
fixe din 03dd5927c6fec68024607aaf210654f0e5273181

[2020-10-30 02:14] #20 closed

[2020-10-30 02:19] pleaseshutup commented on #8
press page overhauled per issue #20

[2020-10-30 02:19] #8 closed

[2020-10-30 02:21] pleaseshutup commented on #11
better images are in looks good now.

[2020-10-30 02:21] #11 closed

[2020-10-30 02:22] pleaseshutup commented on #13
resolved by choosing diff images. it's the forced aspect ratio in the design.

[2020-10-30 02:22] #13 closed

[2020-10-30 02:23] #24 closed

[2020-10-30 02:24] pleaseshutup commented on #26
Sorry, the screenshots do not attach i suppose when replying via email.

Is this resolved then?

[2020-10-30 02:24] #26 closed

[2020-10-30 02:59] #25 closed

[2020-10-30 03:01] pleaseshutup commented on #35
you want me to upload this PDF somewhere and link to it or you want this to be an actual page?

Whomever designed this page did not consider how it would collapse into a mobile sized device at all and at that point it would be very long.

let me know what the intent is with this pdf.

[2020-10-30 14:39] anneocraig commented on #26
Yes. Resolved.
*__________________*
all over creative
brand&marketing+content
anne o. craig
347-559-2020

On Thu, Oct 29, 2020 at 10:25 PM pleaseshutup <notifications@github.com>
wrote:

[2020-10-31 03:27] danilobatson opened #36 "Search Terms"
Note: This could be user error

For the business "Billionaire Pizza Co" I put a search term "Boyz" in there.

I searched for "Boyz" and this listing does not show up.

[2020-10-31 03:29] danilobatson opened #37 "Error"
Clicked on the listing for billionaire pizza co and received an error. See image attached

![image](https://user-images.githubusercontent.com/69876068/97770236-9e947480-1aee-11eb-8d68-3a2750f2894c.png)

[2020-10-31 03:36] #37 closed

[2020-10-31 03:40] danilobatson opened #38 "Map on home page"
Map on home page is not interactive

[2020-10-31 03:40] #36 closed

[2020-10-31 03:43] danilobatson opened #39 "Arrow"
When you try to scroll through the photos on the listings page.

The arrow does not allow you to click through all the photos. It stops early.

![image](https://user-images.githubusercontent.com/69876068/97770447-96d5cf80-1af0-11eb-80ef-6b9f38fb6116.png)

[2020-11-02 17:12] pleaseshutup opened #40 "Front-end Developer Needed: Image Gallery"
Are you an awesome front-end designer/developer?

When you go to an individual listing on spicy green book such as https://spicygreenbook.com/biz/urban-burger and tap on one of the photos it opens the <ImageGallery /> component. We'd love for someone to make that experience of browsing the photos of an individual listing to be an awesome experience. Some listings such as https://spicygreenbook.com

[2020-11-03 09:23] danilobatson opened #41 "Home Page"
Seems like looking on the desktop that it would be easier to navigate and digest if we could zoom out a little bit.

The photos and imagery are so bag that it takes over the whole screen and can't see the borders that I find myself zooming out to 75%. Would like to take it out some.

[2020-11-03 09:29] danilobatson opened #42 "Gallery"
Photo gallery has green blocks. Would like black or something like what is shown in the second screenshot.

![image](https://user-images.githubusercontent.com/69876068/97968660-d06a3d00-1d73-11eb-91d6-d22c4d82880b.png)

![image](https://user-images.githubusercontent.com/69876068/97968691-d95b0e80-1d73-11eb-9705-d8d5e798d60f.png)

[2020-11-03 17:53] danilobatson opened #43 "Home Page Copy editing"
Please make the following adjustments:

"Inspired by Victor Green, Spicy Green Book is a team of volunteers committed to compiling a directory of black owned businesses. Our mission is to establish a space to help people who seek to create change within their communities."

Please add a hyphen to make it: Support Black-Owned Restaurants

On the Home page at the "About Us" section--> "Spicy Green B

[2020-11-04 16:51] Arax1 opened #44 "Expo start import issues"
![Error spicygreenbook expo](https://user-images.githubusercontent.com/28972415/98137117-a1e18480-1e8f-11eb-9655-aa3107d71d83.png)

There's an issue trying to run the development server through 'expo start' where it keeps throwing an 'import read only error' with the getData modules. This comes up just after following the instructions and downloading the code straight from the repo. Wondering if o

[2020-11-04 23:07] danilobatson opened #45 "Updates Page (Copyedit)"
About Us>>Updates section--> "Check out what we've been up to lately" could use a period after the word 'lately'

[2020-11-04 23:10] #45 closed

[2020-11-04 23:23] danilobatson opened #46 "Mobile page won't open"
![image](https://user-images.githubusercontent.com/69876068/98178482-9bfc9b00-1eb1-11eb-8815-2180b3d4a42f.png)

[2020-11-05 06:32] danilobatson opened #47 "Mobile Map: Individual Listings"
Having a map on the individual listing will help a lot for the user. Especially on places that don't have a physical address such as an at home service or food truck.

It is hard to tell if a business is near you.

[2020-11-05 17:28] #44 closed

[2020-11-05 19:00] danilobatson opened #49 "Map Images"
Some of the images are not popping up on the map.

![image](https://user-images.githubusercontent.com/69876068/98284529-1a127d80-1f56-11eb-91eb-3599f4be4b13.png)

![image](https://user-images.githubusercontent.com/69876068/98284565-28609980-1f56-11eb-9db2-e3f6f82917f7.png)

![image](https://user-images.githubusercontent.com/69876068/98284576-2c8cb700-1f56-11eb-9546-7db745abeb91.png)

[2020-11-05 22:36] danilobatson opened #50 "Home Page Press Line"
Can we move the ABC7 Logo first on the press links

[2020-11-06 18:44] danilobatson opened #51 "Home Page Full Name"
Can we put the full name of Spicy Green Book on the home page.

[2020-11-06 18:57] pleaseshutup commented on #51
Please update when design direction is available

[2020-11-07 01:02] danilobatson opened #52 "Home Page Copy"
Under the about us section on the home page the copy needs to be edited as follows:

"Inspired by Victor Green, Spicy Green Book is a team of committed volunteers compiling a directory of Black owned businesses and performing marketing services for these businesses free of charge. We are establishing a space for people who seek to create change, and creating a platform for them to invest in Black

[2020-11-07 12:36] InerkyJad opened #53 "Dropdown doesn't get closed"
The dropdown **ABOUT** isn't getting closed when clicking outside of it
![image](https://user-images.githubusercontent.com/33527845/98441378-25a0a880-20fe-11eb-98e4-825a66dcea20.png)

[2020-11-07 14:52] danilobatson opened #54 "Urgent: Do Well Brands not deploying"
Listing not deploying

![image](https://user-images.githubusercontent.com/69876068/98444321-d5a5ef80-20c5-11eb-8f51-850903951c3e.png)

[2020-11-07 15:08] pleaseshutup commented on #54
fixed in 787a1a6caff41f1c50ff9db598d49885e2a66021

[2020-11-07 15:08] #54 closed

[2020-11-07 19:59] danilobatson opened #56 "Urgent: Do Well Brands Gallery Not Opening"
You can now go to the listing but when you click on one of the pictures you get an error

![image](https://user-images.githubusercontent.com/69876068/98450297-8cb76080-20f0-11eb-991e-8a26306e8eb4.png)
![image](https://user-images.githubusercontent.com/69876068/98450302-90e37e00-20f0-11eb-81d0-7c7134c8baae.png)

[2020-11-07 23:16] #56 closed

[2020-11-07 23:16] pleaseshutup commented on #56
Fixed in code, but also keep an eye out for adding blank items in prismic

![image](https://user-images.githubusercontent.com/1402663/98453270-36581b00-210c-11eb-8348-4162fb822301.png)

[2020-11-07 23:24] #51 closed

[2020-11-07 23:28] pleaseshutup commented on #49
can't replicate, assume this must have been temporary/intermittent internet issues. I can see the images fine on all the items.

[2020-11-07 23:28] #49 closed

[2020-11-07 23:29] pleaseshutup commented on #47
Where would this go in relation to the provided design?

[2020-11-07 23:30] pleaseshutup commented on #46
How do I replicate this issue?

Does it happen randomly?

Is it only when clicking a link from slack?

[2020-11-07 23:32] pleaseshutup commented on #43
The inspired by victor green part was already updated per another issue with a higher ID so i assume it was the more recent request.

"Support black-owned" text updated with hyphen.

[2020-11-07 23:32] #43 closed

[2020-11-07 23:32] #53 closed

[2020-11-07 23:32] #50 closed

[2020-11-07 23:47] #42 closed

[2020-11-07 23:48] pleaseshutup commented on #41
I'm not sure what this means, i'm gonna need a visual to implement it. This may require a designer. Unless you want the header to be a little shorter and the "Support black-owned" text to be smaller??

[2020-11-07 23:48] #41 closed

[2020-11-07 23:49] pleaseshutup commented on #39
Thanks @Arax1 for fixing this.

[2020-11-07 23:49] #39 closed

[2020-11-08 15:37] pleaseshutup commented on #12
Duplicate bug already fixed.

[2020-11-08 15:37] #12 closed

[2020-11-08 15:48] #28 closed

[2020-11-08 15:48] #29 closed

[2020-11-08 15:48] #35 closed

[2020-11-08 16:02] pleaseshutup commented on #52
fixed in 4b8a89ea5548fffa2dc77303749e17de13e989a7

[2020-11-08 16:02] #52 closed

[2020-11-09 06:08] danilobatson opened #57 "High Priority: Home Page Logo"
Can the logo in the nav of the home page be updated to the following?

I will attach.

Please note that the white logo is also on this comment but cannot be seen with the white background that exist in the comment box

![SGB_logo nae_green_V2](https://user-images.githubusercontent.com/69876068/98505771-c54d5c00-220e-11eb-8839-2a223439dfda.png)
![SGB_logo name_black_V2](https://user-images.githubus

[2020-11-09 15:29] #57 closed

[2020-11-09 15:44] danilobatson opened #58 "Add Listing"
Can we change the url from Spicygreenbook.com/add to Spicygreenbook.com/add-request

[2020-11-09 15:44] danilobatson opened #59 ".org"
Can we get spicygreenbook.org and start forwarding it there from spicygreenbook.com

[2020-11-09 23:02] InerkyJad commented on #38
hover and focus events added

[2020-11-09 23:42] pleaseshutup commented on #38
please note there is work in progress on this task in branch "map"

[2020-11-10 00:34] InerkyJad commented on #38
it's okay you can add your code then I'll do it again, by the way, what way should i add CSS ( for the redesigns ), the inline style will be too long for one line

-  JavaScript Object
- CSS Stylesheet
- CSS Module

[2020-11-10 00:39] pleaseshutup commented on #38
Checkout the "map" branch to see how I handled it.

What I typically do:
if it is a repeated style, I put it into getStyles.js
if it is a one-off style I do it inline

if it is for web only I use a nativeID="whatever" attribute on the <tag /> and then target it with the site.css file in public/site.css

I am not entirely sure on the best practice for CSS in expo/react-native and this method is "go

[2020-11-10 06:27] danilobatson opened #60 "Feature: Volunteer Infographic"
Would like to add this infographic on the volunteer page after the first paragraph

[SGB Volunteer Infographic.pdf](https://github.com/spicygreenbook/greenbook-app/files/5515260/SGB.Volunteer.Infographic.pdf)

[2020-11-10 07:21] danilobatson opened #61 "Press Kit"
Add Press Kit as a downloadable pdf. Attached two versions as one is for mobile.

[SGB Press Kit.pdf](https://github.com/spicygreenbook/greenbook-app/files/5515474/SGB.Press.Kit.pdf)

[SGB Press Kit Mobile.pdf](https://github.com/spicygreenbook/greenbook-app/files/5515459/SGB.Press.Kit.Mobile.pdf)

[2020-11-10 08:17] danilobatson commented on #46
This was submitted by another person in the slack. Forgot who. Will open again if it comes up again.

[2020-11-10 08:17] #46 closed

[2020-11-10 08:19] danilobatson commented on #47
If you are looking on your phone I guess we should put it right above the bio

[2020-11-10 08:20] danilobatson opened #62 "Urgent: App Bug"
App on iOS is spontaneously closing anytime I hit "browse" or try to use the search function

[2020-11-10 08:21] danilobatson commented on #62
This is from an iphone, as opposed to an ipad. Not sure if that matters

[2020-11-10 14:10] pleaseshutup commented on #62
You cannot publish listings that are incomplete. If they have certain critical missing data required to render them in the list or the listing it will break the app. Kalypso Ice Box didn't have any images or a primary image set. I have a filter in that tries to filter out incomplete listings now, however, that will take a while to get a new build created and approved by the app store.

[2020-11-10 14:10] #62 closed

[2020-11-10 14:11] pleaseshutup commented on #61
Where?

[2020-11-10 14:12] pleaseshutup commented on #60
You can do this in prismic.

[2020-11-10 14:12] #60 closed

[2020-11-10 14:20] #58 closed

[2020-11-10 14:32] pleaseshutup commented on #59
The site is now available on https://spicygreenbook.org/

One thing to consider: SEO matters and having a single domain is important. All of the media coverage and existing websites you have right now point to spicygreenbook.com and switching domains *may* have an impact on the site's search ranking. This can be mitigated with a proper sitemap and redirects, however, none of those 3rd party links

[2020-11-10 14:32] #59 closed

[2020-11-10 14:38] pleaseshutup commented on #40
We currently have a volunteer that has accepted this task. Thanks @Arax1

[2020-11-10 15:01] pleaseshutup commented on #38
This is now merged into master.

Final tweaks are in and deployed.

c787f39aa5259f76d5416cf622ac8eb081b3bbf1

[2020-11-10 15:01] #38 closed

[2020-11-10 15:02] danilobatson commented on #61
Adding as downloadable pdf

[2020-11-10 15:04] pleaseshutup commented on #23
The content for this page is managed by a content management system. We will not be able to implement this design while also allowing for anyone with permission to edit the content in prismic. The design needs to be revamped to be simpler and consider the CMS constraints.

[2020-11-10 15:04] #23 closed

[2020-11-10 15:06] pleaseshutup commented on #61
Yea, I can put a link to these files on the website, where on the website do you want it?
In the footer?
On a particular page?

Do you want a new page created? What do you want to title it? Will it only have these links on it?

Note that the footer design does not really leave much room for extra links, however, I can probably just figure it out.

[2020-11-10 15:51] danilobatson commented on #61
Let's go for the footer and on the press page?

Titled "Press Kit"

I believe the links on it are good as is.

[2020-11-10 16:21] danilobatson opened #63 "Map on Home Page"
Interactive map that is on the home page should have a way to X out of a pop up after clicking on the state.

You can't close the window after clicking on the state. Would like to see an X on the upper right corner on the pop up if possible.

Photo shows current display

<img width="1344" alt="Screen Shot 2020-11-10 at 8 34 12 AM" src="https://user-images.githubusercontent.com/69876068/98702693-91

[2020-11-10 16:52] danilobatson opened #64 "Facebook Issue (See image)"
<img width="625" alt="Screen Shot 2020-11-10 at 8 51 58 AM" src="https://user-images.githubusercontent.com/69876068/98704996-1c981d00-2332-11eb-97a8-b28fe2518baa.png">

[2020-11-10 16:54] danilobatson opened #65 "Tablet Issue (See Image)"
<img width="653" alt="Screen Shot 2020-11-10 at 8 53 39 AM" src="https://user-images.githubusercontent.com/69876068/98705191-4cdfbb80-2332-11eb-82ed-23a7d84749fc.png">

<img width="273" alt="Screen Shot 2020-11-10 at 8 54 56 AM" src="https://user-images.githubusercontent.com/69876068/98705349-78fb3c80-2332-11eb-89b1-33c3868b428e.png">

[2020-11-10 16:56] danilobatson opened #66 "Search Bar (See Image)"
<img width="470" alt="Screen Shot 2020-11-10 at 8 56 03 AM" src="https://user-images.githubusercontent.com/69876068/98705529-ab0c9e80-2332-11eb-992d-45a517d6a25e.png">

[2020-11-10 20:09] nicgene opened #67 "An unexpected error has occurred."
Page fails to load in browser (Firefox 82) with error message: An unexpected error has occurred.

Console error:
[code]

![Screenshot from 2020-11-10 14-07-04](https://user-images.githubusercontent.com/2023141/98727866-3c453a80-235e-11eb-80fd-d7909e2078c2.png)

[2020-11-10 20:40] danielpquinn commented on #67
I'm planning to pick up this task.

[2020-11-10 21:38] pleaseshutup commented on #22
The contact form is controlled by honeybook and cannot be styled by us. I recommend you allow a designer into honeybook to style the forms to be more constant and look good on the site.

[2020-11-10 21:38] #22 closed

[2020-11-10 21:39] pleaseshutup commented on #21
To whomever handles this task:

Right now the content on the donate page before the form is handled by prismic so you won't be able to easily implement the images. You can however take on the task of updating the styles on the contact form itself.

[2020-11-10 22:55] Jerocam commented on #66
Hello, I can help you to fix it. I will check it and ask you for more info. Let me know. Thanks

[2020-11-10 22:56] Jerocam commented on #65
Hello, I think I can fix it. lmk

[2020-11-10 22:57] pleaseshutup opened #68 "Expo / React Native Stack Navigation"
It would be ideal for someone to take a look at the way we handle changing navigation/views for the mobile apps to help support stack navigation in order to get the back/forward etc working in android and ios.

[2020-11-10 22:58] pleaseshutup commented on #66
Come on our slack if you have questions https://spicy-green-book.slack.com

[2020-11-10 22:59] pleaseshutup commented on #65
join our slack if you have questions https://spicy-green-book.slack.com use the #developers channel

[2020-11-10 23:04] mrvncaragay commented on #66
Hey @pleaseshutup , I'm trying to join the slack, but unable. can you send invite to my email? mrvncaragay@gmail.com

[2020-11-10 23:06] Jerocam commented on #66
Yes me too that im trying to join slack..it is not working.

On Tue, Nov 10, 2020 at 3:05 PM Marvin <notifications@github.com> wrote:

--
*https://jerocam.com <https://jerocam.com>*
*Jeronimo Ocampos*
*Front End Developer *

[2020-11-10 23:10] MBaitz commented on #18
I would love to tackle this for you.

[2020-11-10 23:12] mrvncaragay commented on #19
i can help with this

[2020-11-10 23:21] pleaseshutup commented on #66
Let me know which email to invite

On Tue, Nov 10, 2020 at 3:06 PM Jeronimo Jose Ocampos <
notifications@github.com> wrote:

[2020-11-10 23:23] Jerocam commented on #66
ocamposjero@gmail.com

On Tue, Nov 10, 2020 at 3:21 PM pleaseshutup <notifications@github.com>
wrote:

--
*https://jerocam.com <https://jerocam.com>*
*Jeronimo Ocampos*
*Front End Developer *

[2020-11-10 23:32] pleaseshutup opened #69 "Data Cache and Updating/Validation"
The data workflow is as follows:
We request data from our CMS at prismic.io. This data gets updated often but does not always require it to be absolutely fresh nor is it unique per user.
The mobile apps request the data over the network before loading which makes them slower
The web apps use nextjs server-side rendering and the data is available already at load time. Whenever a document is publish

[2020-11-10 23:45] MikeCastellon commented on #66
Can I also get a slack invite please mike.castellon5@gmail.com

[2020-11-10 23:49] pleaseshutup commented on #17
A lot of this has been handled in https://spicygreenbook.com/press if you want to reference that before implementing

[2020-11-10 23:49] pleaseshutup commented on #66
sent

On Tue, Nov 10, 2020 at 3:46 PM MikeCastellon <notifications@github.com>
wrote:

[2020-11-11 01:12] danilobatson commented on #18
Here is a invite link. Please use as soon as possible as it an expiring link

https://join.slack.com/t/spicy-green-book/shared_invite/zt-j1nb623l-Pbg4T~iNGxsVqH~he1wbWQ

[2020-11-11 03:05] its-nate commented on #64
I will take this!

[2020-11-11 03:42] its-nate commented on #64
Resolved in PR #70.

[2020-11-11 03:43] #64 closed

[2020-11-11 03:52] danilobatson opened #71 "Image Gallery"
Some of the images in the gallery are not loading and are grayed out. This is apparent on multiple listings. Often it gets stuck and I have to refresh

<img width="1371" alt="Screen Shot 2020-11-10 at 7 50 16 PM" src="https://user-images.githubusercontent.com/69876068/98763080-13d53480-238e-11eb-921f-ecb62cd12a38.png">

[2020-11-11 03:54] danilobatson opened #72 "Feature: Current Location"
Hoping someone can include "Current Location" on search bar. The mock up illustrates this below

![image](https://user-images.githubusercontent.com/69876068/98763246-71698100-238e-11eb-8a55-7179e40aa8b7.png)

[2020-11-11 05:11] cshin1 opened #73 "Add box shadow to menu"
Add a box shadow to all menus/dropdowns. This will help differentiate the white background of the menu from the  white background of the webpage. See image:

![image](https://user-images.githubusercontent.com/9870891/98771158-c965af00-23b1-11eb-8248-d44f8a206453.png)

[2020-11-11 05:37] likeawesome opened #74 "Mobile App: White bar on homepage"
White bar the top of the homepage, should be filled in with the top header color/background.

![iOS14-2-iPhone11_7629](https://user-images.githubusercontent.com/74067650/98772943-1a22db00-23a5-11eb-90d4-945c59f0c5bb.jpg)

[2020-11-11 05:39] likeawesome opened #75 "Mobile App:"
Hamburger menu icon is not a standard icon. Hamburger icons are generally 3 horizontal lines.

Severity: 2

1 | Cosmetic problem only
2 | Minor usability problem; fixing this should be given low priority
3 | Major usability problem; important to fix, high priority
4 | Usability catastrophe; must be fixed before product can be released

![iOS14-2-iPhone11_7630](https://user-images.githubusercontent

[2020-11-11 05:42] likeawesome opened #76 "Mobile App: Text in search box not vertically centered"
Text in search box not vertically centered. (I think this issue may have been logged already.)

Severity: 1
1 | Cosmetic problem only
2 | Minor usability problem; fixing this should be given low priority
3 | Major usability problem; important to fix, high priority
4 | Usability catastrophe; must be fixed before product can be released

![iOS14-2-iPhone11_7631](https://user-images.githubusercontent

[2020-11-11 05:43] likeawesome opened #77 "Mobile App: Search field box not centered"
Search not vertically aligned. Too much space on the right side.

Severity: 1
1 | Cosmetic problem only
2 | Minor usability problem; fixing this should be given low priority
3 | Major usability problem; important to fix, high priority
4 | Usability catastrophe; must be fixed before product can be released

![iOS14-2-iPhone11_7631](https://user-images.githubusercontent.com/74067650/98773356-00ce5e8

[2020-11-11 05:47] likeawesome opened #78 "Mobile App: New businesses carousel -- needs location"
After the name of the business, there should be a line break followed by the location of the business. Users need to know the location of the restaurant. Location is an important factor in choosing a business to support.

Severity: 2
1 | Cosmetic problem only
2 | Minor usability problem; fixing this should be given low priority
3 | Major usability problem; important to fix, high priority
4 | Usabi

[2020-11-11 05:48] likeawesome opened #79 "Mobile App: New businesses carousel-- add location"
After the name of the business, there should be a line break followed by the location of the business. Users need to know the location of the restaurant. Location is an important factor in choosing a business to support.

Severity: 2
1 | Cosmetic problem only
2 | Minor usability problem; fixing this should be given low priority
3 | Major usability problem; important to fix, high priority
4 | Usabi

[2020-11-11 05:53] likeawesome opened #80 "Mobile App: Homepage - US and Canadian Map"
The graphic of the map of the US and part of Canada feels awkward and confusing. The image is not created with consistency. All the continental US states are shown, but only one Candian province is shown. I think this map needs to be redesigned to make it more clear and easier to understand. One idea might be to use text to spell out the states/provinces where you can find SGB businesses.

Severit

[2020-11-11 05:56] likeawesome opened #81 "Mobile App: Homepage - How Can I Help icons"
Icons that represent the text information would be helpful here instead of repeating the same arrow.

![iOS14-2-iPhone11_7637](https://user-images.githubusercontent.com/74067650/98774193-bf3eb300-23a7-11eb-8f8b-0a00e9d3450c.jpg)

[2020-11-11 07:46] danilobatson opened #83 "iOS app search function"
The search bar is not working. No matter what I type in the search bar for it to search the search never goes through. The screen in fact never changes. The search is unresponsive.

[2020-11-11 07:57] danilobatson opened #84 "Design/development assistance"
Looking for some ux assistance.

When you look for listings on on spicy green book it is hard to tell what category a business falls under. Such as grocery store products, food truck, retail, pop-up, pick-up & delivery, catering, restaurant, or the mix of a few.

From the ux as you search it can become difficult as they pursue to find food options near them. An example would be [](https://spicygre

[2020-11-11 09:31] danilobatson opened #85 "Donation Routes"
Would like to set up other ways of donating to Spicy Green Book that does not require a credit card number input.

Options that would be great to set up would be _Zelle_ and _PayPal_

The email connected to _Zelle_ would be spicygreenbook@gmail.com

_PayPal_ code:

[code]

[2020-11-11 09:34] danilobatson opened #86 "Donation Page Hyperlink"
The cash app tag "$spicygreenbook" on this page is hyperlinked. Would be great if this could stand out more to let the user know this clickable

<img width="1440" alt="Screen Shot 2020-11-11 at 1 30 39 AM" src="https://user-images.githubusercontent.com/69876068/98794299-bd7fea00-23bd-11eb-93e7-7becb94e5f69.png">

[2020-11-11 12:03] InerkyJad commented on #66
fixed #87

[2020-11-11 13:12] InerkyJad commented on #63
can we do better? Maybe a tooltip showing on hover ofc that means it closes automatically, and show on focus for the mobile.

[2020-11-11 13:51] #67 closed

[2020-11-11 14:02] #66 closed

[2020-11-11 14:10] #86 closed

[2020-11-11 14:22] pleaseshutup commented on #85
This markup won't work on mobile apps. I added a link to pay with paypal via prismic the same way it was done with cashapp.

[2020-11-11 14:22] #85 closed

[2020-11-11 14:32] pleaseshutup commented on #19
@mrvncaragay please find another issue, this one ins't really feasible given that the content comes from a CMS / rich text editor and won't easily fit into this format. I am talking to the designer about a different approach

[2020-11-11 14:32] #19 closed

[2020-11-11 14:55] #61 closed

[2020-11-11 14:59] danielpquinn opened #89 "Developer Productivity: Fix local dev environment"
The `/api/instagram` route does not work in a local dev environment because volunteer devs don't have the necessary AWS credentials. This breaks the local dev environment because the error object returned by the API is passed to a list rendering component.

<img width="1095" alt="image" src="https://user-images.githubusercontent.com/300894/98827094-4eb98580-23eb-11eb-8061-4ba67f7fe16b.png">

[2020-11-11 16:51] likeawesome opened #91 "Mobile App: Drop down menu "Add request" language"
"Add request" is confusing language to new visitors. Can we think of a way of being more explicit? "Add your listing," "Add a listing," "Submit a business," "Add a business" could be better options.

Severity: 2
1 | Cosmetic problem only
2 | Minor usability problem; fixing this should be given low priority
3 | Major usability problem; important to fix, high priority
4 | Usability catastrophe; must

[2020-11-11 16:51] #89 closed

[2020-11-11 17:05] likeawesome opened #92 "Mobile App: Number of requests in search results"
After a search is made we may want to specify what the number of "matches" means. Standard language is "[x] results" and showing the search terms that were used.

Alternatively, we could use language that's more specific to SGB like "12 Black-owned results" to reiterate the site's purpose. I noticed the after the homepage the language around supporting Black-owned businesses fades away.

![iOS14-2

[2020-11-11 17:13] danilobatson opened #93 "Press Kit Delay"
The press kit link on the "about" page takes a very long time to load. Anyway to optimize this?

Can we also include a link to the press kit in the footer?

<img width="1440" alt="Screen Shot 2020-11-11 at 9 12 09 AM" src="https://user-images.githubusercontent.com/69876068/98842228-1cfdea00-23fe-11eb-9846-d20164893f9e.png">

[SGB Press Kit.pdf](https://github.com/spicygreenbook/greenbook-app/files

[2020-11-11 17:15] danilobatson commented on #92
I like the idea of "12 Black-owned results"

[2020-11-11 17:22] pleaseshutup commented on #93
The provided press kit is 7 MB

If you want it faster you need to provide a smaller PDF.

The current design footer does not allow for room for any more links in the footer alongside the existing ones. if you like we can just add it after the logos of our partners on the bottom and just throw all kinds of extra s*** there.

[2020-11-11 18:23] its-nate commented on #17
I can take this one.

[2020-11-11 19:41] danilobatson commented on #81
@likeawesome thank you for auditing the site. Do you mind emailing me at d.batson@spicygreenbook.com to discuss

[2020-11-11 19:58] danilobatson commented on #93
I already compressed it from like 30+ MB lol

Yea we can put it there after the logos

[2020-11-11 20:14] danilobatson opened #95 "RE:store Logo"
Can we include this logo at the bottom of the homepage where the other logos exist

![RestoreLA-Logo Black](https://user-images.githubusercontent.com/69876068/98859420-03b56780-2417-11eb-81a6-12facf0838d6.png)

<img width="1440" alt="Screen Shot 2020-11-11 at 12 13 18 PM" src="https://user-images.githubusercontent.com/69876068/98859711-6eff3980-2417-11eb-911d-61e9bade063d.png">

[2020-11-11 22:33] danilobatson opened #96 "Press Kit"
Need the press kit as a primary button. Where it says "View Our Press Kit" on the first image. I would like to be designed like the primary button in the second image.

Go to www.spicygreenbook.com/press

See below photo

<img width="1357" alt="Screen Shot 2020-11-11 at 2 35 23 PM" src="https://user-images.githubusercontent.com/69876068/98872520-8ba56c80-242b-11eb-8c08-4f5be8c5b2bc.png">

<img wid

[2020-11-12 01:46] danilobatson opened #98 "Team Order"
Location: https://spicygreenbook.com/team

The order of the team on this page is out of order.

Currently reflects: 1. Kim Jackson 2. Dan Williams 3. Danilo Batson

Should reflect: 1. Danilo Batson 2. Dan Williams 3. Kim Jackson

<img width="1440" alt="Screen Shot 2020-11-11 at 5 43 25 PM" src="https://user-images.githubusercontent.com/69876068/98884780-9967eb80-2445-11eb-8f48-c00a2c87fea6.png">

[2020-11-12 02:01] #98 closed

[2020-11-12 04:47] danilobatson opened #100 "Cannacake Babe Vegan Treat Pics Cut Off"
Location: https://spicygreenbook.org/biz/cannacakebabe-vegan-treats

Problem: Photos on the right are cut off not showing the whole picture. I tried re-ordering them in prismic to show different shots but to no success. This may be an issue of design that would need to be fixed as opposed to working on re-ordering pictures as that has failed on my account for this listing.

<img width="1364" alt="

[2020-11-12 04:49] danilobatson opened #101 "Map Count Error"
Location: https://spicygreenbook.org/biz/cannacakebabe-vegan-treats
Location: Home Page Map

Problem: The map states we have two listings in Las Vegas, NV. We only have one

<img width="1361" alt="Screen Shot 2020-11-11 at 8 48 10 PM" src="https://user-images.githubusercontent.com/69876068/98897037-4dc23b80-245f-11eb-93bf-081c366c6994.png">

OS: [iOS]
Browser [chrome]

[2020-11-12 05:02] pleaseshutup commented on #101
Lady on the rocks is listed as in nevada but does not have geocoordinates setup so does now show up in the list for that city when clicked. Either remove her address as las vegas, NV or add the geocoordinates to the listing. This is fixed in prismic and not the code.

[2020-11-12 05:02] #101 closed

[2020-11-12 05:06] pleaseshutup commented on #100
There are 3 possible solutions that I can think of:

1. Offer a crop position for the images to specify left/top/right/bottom/center top, bottom right etc in order to specify where the image gets cropped to fit within the provided designs aspect ratio for the image slot. We can put this in prismic but it may not solve the problem. Please talk to a designer that understands this to help determine t

[2020-11-12 05:06] #100 closed

[2020-11-12 05:06] danilobatson opened #102 "Count Error"
We are missing one listing.

I am unable to give further directions as I don't know what happened or which one was lost. I do know that at some point last night we went minus one. I keep track of the numbers of listings we have and somehow we went backwards as I was checking on the site. Hopefully someone is able to find which one is missing.

[2020-11-12 05:37] #96 closed

[2020-11-12 06:55] danilobatson opened #103 "High Priority: Home Map"
Location: spicygreenbook.com (Home Page). Scroll down to the map.

Problem: This map has multiple issues across multiple states. I will list what I have seen in my interacting with this map paired with screenshots.

1. Clicking on a city/metro area in the pop up window of a state takes you to an error

<img width="1440" alt="Screen Shot 2020-11-11 at 10 44 11 PM" src="https://user-images.githubuse

[2020-11-12 07:24] danilobatson opened #104 "Browsing Map Image Broken"
Location: https://spicygreenbook.org/search  See map on the right of the screen

Problem: When you click on **some** of the icons. The image is broken. It is supposed to display an image of the listing. Screenshots show broken vs what it's supposed to display.

<img width="1440" alt="Screen Shot 2020-11-11 at 11 19 34 PM" src="https://user-images.githubusercontent.com/69876068/98908134-d0092a80-24

[2020-11-12 09:47] danilobatson commented on #100
Would trying out option 1 be easiest then if that doesn't work move to option 2?

[2020-11-12 16:32] lorenitademani opened #105 "Website: Browse Page (Title, search bar and page name)"
Changes on Browse Page:

1) Page name: rename to browse
2) The search bar on the Browse Page should match the one on the home page.
3) Add page's title on top of the page

Please see pic for details.
![Browse Page](https://user-images.githubusercontent.com/73954798/98963466-a6ccb680-24d5-11eb-9656-7d5b173d63c3.jpg)

[2020-11-12 16:37] pleaseshutup commented on #105
Hi, Thanks for the suggestion.
The browse and search pages are the same endpoint with the same functionality. "Browse" is simply the search results page without a keyword or location provided to narrow results. This will stay the same for now. Our vision is to have so many listings the user has to search and narrow results instead of just browse.

[2020-11-12 16:37] #105 closed

[2020-11-12 16:37] lorenitademani opened #106 "Website: Changes to the footer"
Changes to the footer to remove redundant menu options.

See pic for more details.

![Remove_Bottom_menu](https://user-images.githubusercontent.com/73954798/98967791-e2b64a80-24da-11eb-9887-5b701de452c7.jpg)

[2020-11-12 16:41] lorenitademani opened #107 "Website: Rename "Add Request" to "Add a Listing" on the top menu"
1) Rename "Add Request" to "Add a Listing" on the top menu

![Add Request](https://user-images.githubusercontent.com/73954798/98968473-b6e79480-24db-11eb-90c4-32afa81456ec.jpg)

[2020-11-12 16:42] pleaseshutup commented on #106
Hi,

Could you please join our slack in the #product channel to discuss your ideas before creating issues? We'd like to keep this area clean and have only issues ready for a developer to take on. We have a lot of various volunteers from different locations and they might end up performing work that we haven't agreed upon that needs to happen.

[2020-11-12 16:42] #106 closed

[2020-11-12 18:07] kennamcleod opened #108 "iPhone error"
**Describe the bug**
website does not render without error on iPhone

**To Reproduce**
Steps to reproduce the behavior:
1. type in www.spicygreenbook.org in safari browser
2. receive error - cannot open the page because server cannot be found

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your p

[2020-11-12 18:07] mrvncaragay commented on #68
@pleaseshutup I will look into this and see if I can convert the current set up to Stack Navigation.

[2020-11-12 18:12] pleaseshutup commented on #68
Awesome!

[2020-11-12 19:13] #107 closed

[2020-11-12 19:46] pleaseshutup commented on #95
Can you link to their branding page and/or find us the logo in white with a transparent background? SVG will also work fine.

[2020-11-12 20:00] pleaseshutup commented on #63
@InerkyJad hover events become hard to manage when you need the layer to stay up and click on the links inside. I'll add the X to close and keep it as-is.

I'd rather avoid too much hover dependent things so there is consistency between the apps.

[2020-11-12 20:00] #63 closed

[2020-11-12 20:01] pleaseshutup commented on #65
This was fixed by @InerkyJad (thanks!!) closing.

[2020-11-12 20:01] #65 closed

[2020-11-12 21:17] danilobatson commented on #95
![image](https://user-images.githubusercontent.com/69876068/98997417-54959080-24e9-11eb-95a7-5e6da055dea7.png)

[2020-11-12 21:49] lorenitademani opened #110 "Website: Contact Us page - Font Style"
“Contact Form” text on the Contact Us page is smaller than the other sub-titles. The font style should be the same as “FIND AN ISSUE WITH THE WEBSITE?” AND “MAILING ADDRESS” sub-titles.

Font format:
24 pt type, 28.8 pt leading
Knockout Featherweight
All caps
Left aligned

![Screen Shot 2020-11-12 at 4 01 58 PM](https://user-images.githubusercontent.com/73954798/99000104-c3351700-2506-11eb-801b-00

[2020-11-13 01:40] danielpquinn opened #111 "SEO: Font loading blocks page content rendering on server"
**Describe the bug**
With JavaScript disabled, the website will show a blank page with "loading", which is bad for SEO, especially for a content heavy site like this one.

**To Reproduce**
Steps to reproduce the behavior:
1. Open dev tools and disable JavaScript
2. Navigate to https://spicygreenbook.com

**Expected behavior**
Server renders page content so crawlers can index it and people can find

[2020-11-13 02:13] danielpquinn commented on #103
I'm picking up this task

[2020-11-13 18:21] danilobatson opened #112 "URGENT: Add Request URL"
The url for our add request form is https://www.spicygreenbook.org/add-request

We need this to be https://www.spicygreeenbook.org/add

[2020-11-13 18:25] pleaseshutup commented on #112
THIS IS YOUR OWN FAULT

also this is still deploying so give it a few mins from the timestamp on this post.

fixed in 70b799b92ab6d5ac374bc26406b9b2d8d85aa846

[2020-11-13 18:25] #112 closed

[2020-11-13 21:10] its-nate commented on #108
@pleaseshutup just tried on my phone and I am not getting this error. iPhone X, iOS 14.2, Safari. Maybe it was a DNS thing since it looks like you had just directed the .org to the site a couple days ago?

[2020-11-14 00:58] danilobatson commented on #112
Hahaha thanks

[2020-11-14 14:03] pleaseshutup commented on #111
i'm taking this one

[2020-11-14 14:20] pleaseshutup commented on #108
@its-nate i've heard this bug mentioned a few times from different people but have been unable to replicate it myself. I added the .org domain but am not enforcing redirects so that should not be a factor.

[2020-11-14 14:20] #110 closed

[2020-11-14 14:22] pleaseshutup commented on #104
If this happens sometimes, but then you go back and the image loads fine my guess is that this is a temporary network issue and not a bug in the code. It is likely a spotty internet connection issue. Logically either the images work or they do not, if they randomly do not work in rare occasion that leads me to believe your network is the issue and not something we can fix.

Open this issue again i

[2020-11-14 14:22] #104 closed

[2020-11-14 14:31] danielpquinn commented on #103
@danilobatson Here's where I ended up with this issue. Long story short I will probably need to hand this off to @pleaseshutup:

1. Clicking on a city/metro area in the pop up window of a state takes you to an error
**I could not reproduce this, are you still seeing this issue?**

2. Clicking on a city/metro area in the pop up window of a state brings up all the listings instead of the one or sele

[2020-11-14 14:35] pleaseshutup commented on #69
I will handle this

[2020-11-14 14:59] danielpquinn commented on #73
I am picking up this task.

[2020-11-14 15:12] pleaseshutup commented on #111
fixed in f9c86ce36fe06a9c51c18efdd4a3d4c20413c424 and ecd524587c847cef9b0cce97ee24b9b15379ddea

We probably still need to deal with FOUT

The trick for server side rendered pages was to ignore the fontsLoading flag on the server side (next.js thing)

[2020-11-14 15:15] pleaseshutup commented on #111
after deploying it seems the fix did not work. dang.

[2020-11-14 15:42] danielpquinn commented on #111
It seems to be working for me, are you sure? The site feels a lot more snappy!

[2020-11-14 17:37] danielpquinn opened #117 "Mobile web menu is blank"
**Describe the bug**
When I open the site on my phone and tap on the menu icon, I end up with a blank screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Open spicygreenbook.com on your phone
2. Click on the menu icon in the header

**Expected behavior**
A list of menu items appear

**Screenshots**
Screenshot would just be a blank white screen
<img width="450" alt="image" src="https://us

[2020-11-14 21:15] pleaseshutup commented on #117
fixed in 43bce22bb4c7fdd6509652f6196aeacc6b40df45
had to do with server side rendering of pages were always trying to render the home page because the context of which url you are on was not being set on the server side when building the static pages

[2020-11-14 21:15] #117 closed

[2020-11-14 21:16] pleaseshutup commented on #111
I think I got it now.
Took a lot of work.

43bce22bb4c7fdd6509652f6196aeacc6b40df45

[2020-11-14 21:16] #111 closed

[2020-11-15 01:59] danielpquinn opened #119 "Layout is incorrect after SSR"
**Describe the bug**
Because we no longer show "Loading..." before rendering the page, react native doesn't know what the page dimensions are when it is first rendered on the server. This causes the layout to break in a few places, for example the mobile header and the home page carousel.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to spicygreenbook.com on a mobile device
2. Notice th

[2020-11-15 02:05] #119 closed

[2020-11-15 02:57] danielpquinn commented on #83
I noticed a similar issue on the mobile web version. I'm going to pick up this task.

[2020-11-15 08:39] danielpquinn commented on #72
I'm going to pick up this task.

[2020-11-15 15:43] pleaseshutup commented on #108
@kennamcleod we've made some changes can you try to replicate this bug for us again? It may be resolved now. If you can replicate it, re-open the ticket and we'll get someone to investigate further.

[2020-11-15 15:47] pleaseshutup commented on #102
This is a matter of figuring it out with what is in prismic. We don't really have a way to find this out. Primic has versions that you can investigate from days ago.

Prismic also has an import/export feature you can use to archive your data from time to time. I recommend you download it and keep a copy locally so you're not at the mercy of a 3rd party holding your data hostage.
https://spicygreen

[2020-11-15 15:47] #102 closed

[2020-11-15 15:59] kennamcleod commented on #108
iPhone error  - I still get the issue.  Could it somehow be my iPhone?  I'm attaching a screenshot.
![httpsspicygreenbook org](https://user-images.githubusercontent.com/74374804/99189899-931d8c00-2731-11eb-950c-18006eef1aa4.png)

[2020-11-15 16:58] pleaseshutup commented on #93
added in 4bc313fbe5b56c5636dd13b1a759241188f3c37d

[2020-11-15 16:58] #93 closed

[2020-11-15 17:08] pleaseshutup commented on #103
I'm not entirely sure there is a solution here that can/will be done in the code itself. Seems like an issue of ensuring that all listings are consistent and accurate with their geocordinates and addresses.

For example, The Cookie Monster Cookies has the address set but does not have geocoordinates set. That's why it shows up when you click on florida in the SGBMAP widget but not in the listings

[2020-11-15 17:08] #103 closed

[2020-11-15 18:35] #69 closed

[2020-11-15 18:37] #83 closed

[2020-11-16 16:01] pleaseshutup commented on #95
Done

[2020-11-16 16:01] #95 closed

[2020-11-16 16:01] #92 closed

[2020-11-16 17:37] pleaseshutup commented on #80
We are only using the vector paths from the provided design. This is more of a designer task than a developer task for the website.  If you do find a designer to provide an update, please speak to Arial about getting the source of the file and what it took to get it to us in a proper format.

[2020-11-16 17:37] #80 closed

[2020-11-16 17:38] pleaseshutup commented on #91
I am going to close this issue. Could you please speak to Danilo about this and then let us know when you have the "final" wording and then open the ticket again?

[2020-11-16 17:38] #91 closed

[2020-11-16 17:40] pleaseshutup commented on #84
I am not sure if the github issues list is the right audience for this task. This seems like a ux designer task not a developer task and I am not sure they are browsing this list. I am going to close this issue since I don't think it can be handled by any developer that shows up here easily as it is missing clear direction. Please discuss this in the #product channel in the SGB slack and then open

[2020-11-16 17:40] #84 closed

[2020-11-16 17:41] pleaseshutup commented on #81
We've removed these per your suggestion as they were unnecessary.

[2020-11-16 17:41] #81 closed

[2020-11-16 18:05] pleaseshutup commented on #79
This is a good idea. You can look at the SGBMap.js component to see how we extract the city/state from the address.

If you take on this task, it would be really awesome for you to move that logic of getting city/state from the address into it's own utlity in utils/getCityState.js so we can reuse it in the map component and on this scroller. Possibly even just set city/state as properties in the r

[2020-11-16 18:05] pleaseshutup commented on #78
this is a duplicate task, closing this one and leaving the other one with notes.

[2020-11-16 18:05] #78 closed

[2020-11-16 18:11] pleaseshutup commented on #77
For whomever takes on this task.
Lets have it fit the width with equal margins on each side *until* the point where it converts to the larger version of the search nav. Also please test different widths to ensure we convert to the larger nav (more text/bigger) at the appropriate widths on both the home page and the search results page.

[2020-11-16 18:12] pleaseshutup commented on #75
This has been fixed by @mrvncaragay with his awesome overhaul of the mobile app navigation

[2020-11-16 18:12] #75 closed

[2020-11-16 18:14] pleaseshutup commented on #71
This seems like an intermittent network issue. Closing for now, please open again if you can replicate this issue reliably.

[2020-11-16 18:14] #71 closed

[2020-11-16 18:14] pleaseshutup commented on #68
@mrvncaragay nice work on this. Will close this for now and we will continue to optimize moving forward.

[2020-11-16 18:14] #68 closed

[2020-11-16 18:25] its-nate commented on #72
Hey @danielpquinn! I forgot to comment here but I started working on this a little over the weekend—not too far though. Haven't started routing the lat/lon through the search query yet, which I assume is the bulk of it. I did however spend some time on the visual element of the current location box popping up (hit a snag I haven't worked through yet). Anyway, happy to let you take over as lead on

[2020-11-16 18:41] pleaseshutup commented on #17
@its-nate great work, thanks

[2020-11-16 18:41] #17 closed

[2020-11-16 18:41] pleaseshutup commented on #18
@mrvncaragay thanks, great work

[2020-11-16 18:41] #18 closed

[2020-11-16 18:42] pleaseshutup commented on #73
thanks @danielpquinn great work

[2020-11-16 18:42] #73 closed

[2020-11-16 19:11] its-nate commented on #76
@likeawesome this is a dupe of #77, can be closed.

[2020-11-16 19:42] danielpquinn commented on #72
Hi @its-nate, I didn't get very far on this one yet either but I do have ideas about how it will work and I'm planning to continue working on it this week.

If you have a branch with your visual changes somewhere that I can check out I would be happy to take a look and possibly borrow ideas from it :)

[2020-11-16 20:11] pleaseshutup commented on #76
Looks resolved too. Things look centered on my phone.

[2020-11-16 20:11] #76 closed

[2020-11-17 00:31] danilobatson opened #124 "High Priority: Loading Delay"
**Describe the bug**
Website is having delays. Not loading as quickly as we would hope. I put some screenshots showcasing the delay. Can't put video on here.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'spicygreenbook.org'
2. Type in your search item
3. Click search
4. See error (showcased in the screenshot)

<img width="936" alt="Screen Shot 2020-11-16 at 4 30 00 PM" src="https://

[2020-11-17 02:58] pleaseshutup commented on #124
The search page seems slow because the SSR rendering of the page is missing the styles and something is causing this page to re-render multiple times. We may have to consider pagination, however, this will conflict with a request to have the items randomly sorted which logically conflicts with pagination.

First gotta solve the page being rendered properly in the initial render from the server and

[2020-11-17 03:05] danielpquinn commented on #124
I think we can avoid reloading this page by using the next router instead of updating window.location. I'll try that really quick and see if it fixes the issue.

I agree that SSR is the root of the problem and we'll need to figure out how to load css at the same time as the initial page load instead of waiting for React Native to generate it via javascript.

[2020-11-17 03:17] pleaseshutup commented on #124
@danielpquinn hrm I must have let that slip through a PR. the search component is supposed to do react router navigation just noticed now it was changed to window.location =

i patched that just now.

[2020-11-17 03:27] danielpquinn commented on #124
Nice! I was just about to open a PR when I saw your change come through, thanks!

[2020-11-17 03:28] danilobatson opened #126 "Footer Name"
**Describe the bug**
The footer says "Join"

Would like to change this to "Add Listing" to match the nav

![image](https://user-images.githubusercontent.com/69876068/99343001-eb43b380-2841-11eb-8bdd-f62deb7de364.png)

[2020-11-17 03:35] pleaseshutup commented on #124
I think I got it.
actual trick in 465ae4b2482f3f40e00bee0c02436f1963a2c94a
final tweak in c86e874e252eaa3494ce27c0ba69d333d060ad9e when I realized i had used the example markup not our custom document
and this was the fix for search doing window.location
013132dcbdaee560741c3000e40cf18cd0ddd069

[2020-11-17 03:35] #124 closed

[2020-11-17 03:50] amandeswal10 commented on #126
Heads up. I'll be working on resolving this bug.

[2020-11-17 03:53] danilobatson opened #127 "App Link Incorrect"
**Describe the bug**
In the Spicy Green Book app.

The menu button on the top right brings up the menu on the side and one of the options says "Process"

Clicking it will actually take you to the "About" page instead of the "Process" page.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Click on menu in the top right
3. Click "Process"
4. See error

**Expected behavior**
Shou

[2020-11-17 03:56] mrvncaragay commented on #127
Thanks @danilobatson, I will resolve this

[2020-11-17 03:56] danilobatson opened #128 "App Homepage"
**Describe the bug**
The map on the homepage is not interactive like it is on the website. Clicking on the map does nothing.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the SGB app
2. Scroll down to the map
3. Click on any state
4. See error

**Expected behavior**
Map should be interactive where clicking on a state will show a pop up of cities that have businesses listed in its resp

[2020-11-17 04:02] danilobatson opened #129 "App Footer"
**Describe the bug**
_See screenshot_

On the app.

The graphic on the bottom says "Join"

This should say "Add Listing"

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Click on third graphic in the footer
3. Will read "Join"

**Expected behavior**
Should read "Add Listing"

![image](https://user-images.githubusercontent.com/69876068/99345204-a53d1e80-2846-11eb-96fa-583aca6b9

[2020-11-17 04:05] mrvncaragay commented on #129
I will fix this too, thanks!

[2020-11-17 04:08] danilobatson opened #130 "App Contact From"
**Describe the bug**

On the app.

"Go To Contact Form" takes you to https://spicygreenbook.com/contact

This should go to https://spicygreenbook.org/contact

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Click on menu in the top right
3. Click contact
4. Scroll down
5. Click "Go To Contact Form"
6. See Error
**Expected behavior**

This should go to https://spicygreenbook.or

[2020-11-17 04:09] danilobatson opened #131 "App Donate"
**Describe the bug**

On the app.

"Go To Donation Form" takes you to https://spicygreenbook.com/donate

This should go to https://spicygreenbook.org/donate

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Click on menu in the top right
3. Click "Donate"
4. Scroll down
5. Click "Go To Donation Form"
6. See Error
**Expected behavior**

This should go to https://spicygreenbook.o

[2020-11-17 04:10] danilobatson opened #132 "App Add Listing"
**Describe the bug**

On the app.

"Go To Donation Form" takes you to https://spicygreenbook.com/add

This should go to https://spicygreenbook.org/add

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Click on the third graphic in the footer
3. Click "Go To Add Listing Form"
4. See Error

**Expected behavior**

This should go to https://spicygreenbook.org/add

**Smartphone (ple

[2020-11-17 05:45] mrvncaragay commented on #127
@pleaseshutup, in the screens/Process.js uid was set to 'about', but when i changed it to process. I get an empty data. any thoughts on this? I tested other url such as contact and it works fine.
![Screen Shot 2020-11-16 at 9 42 44 PM](https://user-images.githubusercontent.com/1195427/99351141-ca388e00-2854-11eb-9544-54b98d1b9982.png)

[2020-11-17 05:47] pleaseshutup commented on #127
Try 'our-process' And if that fails update this ticket and I'll check it out again in the morning

[2020-11-17 06:02] mrvncaragay commented on #127
@pleaseshutup it works! thanks

[2020-11-17 16:03] pleaseshutup commented on #132
handled in deb48cd03098f62642245e4cd49e66d505cd3abc and google search console updated to reflect the new domain.

[2020-11-17 16:03] #132 closed

[2020-11-17 16:04] pleaseshutup commented on #131
handled in deb48cd03098f62642245e4cd49e66d505cd3abc and google search console updated to reflect the new domain.

[2020-11-17 16:04] #131 closed

[2020-11-17 16:04] pleaseshutup commented on #130
handled in deb48cd03098f62642245e4cd49e66d505cd3abc and google search console updated to reflect the new domain.

[2020-11-17 16:04] #130 closed

[2020-11-17 16:05] pleaseshutup commented on #128
<TouchableOpacity> doesn't seem to work on SVG nodes.
I am not quite sure how to handle this for mobile apps unless an overall on press event can let you see which node was tapped we can get the ID from it to determine which state.

Just my notes if someone tries to tackle this before I get to it.

[2020-11-17 16:59] mrvncaragay commented on #129
Hi @danilobatson  #113 resolve this issue.

[2020-11-17 16:59] #129 closed

[2020-11-17 17:05] mrvncaragay commented on #127
resolve this issue on 991e9dbfc97e66753c1db8f192fad80436bd65cb

[2020-11-17 17:05] #127 closed

[2020-11-17 18:59] its-nate opened #134 "Feature: Press Page cards to match Updates page design"
Since they display the same content, suggest updating Press page cards to match visually to the Updates page cards.

[2020-11-17 19:00] its-nate commented on #134
This has been discussed in #product and I'm on it! Creating the issue for the record.

[2020-11-18 01:07] mrvncaragay commented on #128
Will work on this issue.

[2020-11-19 03:31] danielpquinn commented on #72
Status update: I have a web version of this working and will submit a PR soon. I'm going to do the native version in a separate PR.

[2020-11-19 16:19] pleaseshutup opened #137 "Location API"
Lets use a service like https://ipstack.com/ and the pages/api functionality of vercel (serverless functions, see api/geocode.js for example)

We can pre-fill the users location with a city/state like yelp does. Would be ideal to build our own cache the same way geocode.js does it so we only use our api credits on unique lookups and never repeat lookups.

We could even distribute the requests over

[2020-11-19 23:31] mrvncaragay commented on #128
this issue was resolve in this 43b6651b2b39f975020df6862af51e7ecf488968

[2020-11-19 23:31] #128 closed

[2020-11-22 02:07] danielpquinn commented on #77
I had to touch the search input layout to add the "use location" dropdown in this PR: https://github.com/spicygreenbook/greenbook-app/pull/136. I used flexbox to position everything in the search component, so it will properly stretch to the full width on mobile. This issue will be fixed with PR 136.

[2020-11-22 02:36] danielpquinn commented on #74
I think that maybe @mrvncaragay fixed this issue in his PR: https://github.com/spicygreenbook/greenbook-app/pull/121

[2020-11-22 04:05] mrvncaragay commented on #74
not sure if I did, but i dont see this issue anymore on my end.

[2020-11-22 13:00] gabrielhicks commented on #126
I would also be interested in helping with this issue

[2020-11-22 15:06] pleaseshutup commented on #126
@gabrielhicks go for it. If someone says they want to handle it and doesn't follow up within a couple of days then just assume they forgot and/or quit.

[2020-11-22 15:07] gabrielhicks commented on #126
@pleaseshutup Okay, thanks! Just for clarification, Join will be replaced with Add Listing?

[2020-11-22 15:11] pleaseshutup commented on #126
Yeap

[2020-11-22 16:41] #134 closed

[2020-11-22 16:44] its-nate commented on #21
Looks like this has stalled, I'll pick it up!

[2020-11-22 17:43] danielpquinn opened #143 "Home page layout broken on mobile web"
**Describe the bug**
Home page layout doesn't look right on mobile web, see screenshot. I think I fixed this issue once before by forcing the page to refresh after initial load. If there's a cleaner way to fix the issue that would be great!

**To Reproduce**
Steps to reproduce the behavior:
1. Load the home page on spicygreenbook.com

**Screenshots**
![image](https://user-images.githubusercontent.

[2020-11-22 18:32] #72 closed

[2020-11-22 18:33] #77 closed

[2020-11-22 19:27] mrvncaragay commented on #143
@danielpquinn hmm testing this on my local build and it looks normal to me.

[2020-11-22 21:41] danielpquinn commented on #74
Okay cool, I'm going to go ahead and close this one then. FYI @pleaseshutup

[2020-11-22 21:41] #74 closed

[2020-11-22 21:55] #143 closed

[2020-11-22 22:19] Arax1 opened #145 "IOS expo bug, store listings not opening on press"
**Describe the bug**
The bug is mainly found when trying to test the mobile app on an IOS simulator through expo. While you are browsing through
the businesses, clicking on the business doesn't lead to the image and store listings as expected. Instead it gives an error saying it could not parse the array object.

This bug is only when testing through Expo mobile

**To Reproduce**
Steps to reproduc

[2020-11-25 02:54] amandeswal10 commented on #126
I apologize for not updating. I was working on it a bit slower due to exams at school and being new to Next.js.

[2020-11-25 20:36] pleaseshutup commented on #16
To finish this:
step 1. create new type in prismic for each volunteer position
step 2. remove each position from vounteer content page in prismic
step 3. make the collapsible sections come from the volunteers new data type in prismic
step 4: profit

[2020-11-25 20:43] rossedwardsus commented on #137
Hello.  You wouldn't use ip addresses for these but rather you would use geolocation, which in a browser is not that precise but should work well enough providing your data has latitude and longitude.  In truth you should have a mobile app so you can access the chips that are built in to them that provide very precise location information.

[2020-11-25 20:53] mrvncaragay commented on #126
resolve in #141

[2020-11-25 20:53] #126 closed

[2020-11-26 01:36] Arax1 commented on #16
I will help with this issue and the re-design

[2020-11-26 07:44] danielpquinn opened #148 "Generate SEO pages for large cities"
One way that I might search for Black-owned businesses in my area is by going to Google and searching for something like "Black-owned restaurants in Seattle". In order to rank for these queries, maybe we can generate pages for large cities and make them discoverable by Google to increase organic traffic to the site.

Doing this might be as simple as adding entries to our sitemap for large cities i

[2020-11-26 19:09] #148 closed

[2020-11-28 00:18] danielpquinn commented on #79
I'm picking up this task.

[2020-11-28 02:13] #79 closed

[2020-11-28 21:23] its-nate commented on #21
Just an update that I'm still working on this! I broke my hand a few days back while surfing so things slowed down for me a bit, especially on the typing front haha.

[2020-11-29 19:46] danilobatson opened #152 "URGENT: Volunteer Form Is Missing"
**Describe the bug**
There is no link to the volunteer form on the volunteer page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'www.spicygreenbook.org/volunteer'
2. Scroll down to the bottom
3. See error

**Expected behavior**
A link to fill out the volunteer form

[2020-11-29 20:05] mrvncaragay commented on #152
I will look into this, thanks!

[2020-11-29 21:05] #152 closed

[2020-11-29 23:17] mrvncaragay commented on #145
@Arax1 does this issue still persist? thanks!

[2020-11-29 23:28] Arax1 commented on #145
@mrvncaragay You fixed the issue where the businesses now go to the landing page, which is good! But when you click on one of the images to go to the image gallery it doesn't go to the image gallery.

This is the response i get in the log whenever I press on one of the images.
![Error spicygreenbook expo 2](https://user-images.githubusercontent.com/28972415/100556450-8d1ac580-3270-11eb-9974-4afe06

[2020-11-29 23:52] mrvncaragay commented on #145
Hey @Arax1 thanks for confirming. Yea image gallery works fine on web but not on native  environment. We can prolly just render the Image Gallery component in Listing component when user click on the images using the isWeb check. or create new Component specifically just for native environment.

[2020-12-01 00:28] danilobatson opened #154 "Press Logo Homepage"
Would like to add the logo of Tech Bites Podcast to be added to the home page press area.

Linked to the following: https://podcasts.apple.com/us/podcast/spicy-green-book-non-profit-directory-black-owned-restaurants/id960833354?i=1000499037556

<img width="1440" alt="Screen Shot 2020-11-30 at 4 26 10 PM" src="https://user-images.githubusercontent.com/69876068/100681669-1beb1900-3329-11eb-87e8-b455

[2020-12-01 16:30] pleaseshutup commented on #154
This is handled by adding an element in prismic in the press section. Let us know if you want something different.

[2020-12-01 16:30] #154 closed

[2020-12-02 16:52] danilobatson opened #155 "About Us Page Redesign"
Design pictured below

Please no longer use content from prismic and implement this design as is and use your best judgement to make it also look good on mobile sized screens. Don't forget to test on web and mobile apps.

![image](https://user-images.githubusercontent.com/69876068/100904095-83b17900-347b-11eb-89c2-7eeb6cc49453.png)

[2020-12-02 16:56] danilobatson opened #156 "Contact Us Page Redesign"
Design pictured below

Please no longer use content from prismic and implement this design as is and use your best judgement to make it also look good on mobile sized screens. Don't forget to test on web and mobile apps

![image](https://user-images.githubusercontent.com/69876068/100904708-1d792600-347c-11eb-98f0-4a34be8ba16f.png)

[2020-12-02 16:57] pleaseshutup commented on #156
Whomever takes this task.

I think you can still use the prismic content. Just put the data from prismic on the left side there and statically add the image below/the shadow box. Then put the contact form on the right side. For mobile they just stack and the form is under the content.

The prismic content is the content in the <RichText /> component already in there.

[2020-12-05 07:46] straightupcoding commented on #155
I will work on this redesign.

[2020-12-08 23:59] danilobatson opened #158 "Home Page App Add"
Hoping to promote our app more. Can we change the home page to list this above in the header and right above the press links. Note the mockup.

<img width="760" alt="Screen Shot 2020-12-04 at 9 26 01 AM" src="https://user-images.githubusercontent.com/69876068/101555837-4878e380-396e-11eb-96d8-9ce01d1e8a44.png">

[2020-12-09 00:00] danilobatson commented on #158
The "Download Our App" in the header should probably just scroll to the part of the home page where they can click either app store or google play store that exist above the press logos

[2020-12-09 00:05] mrvncaragay commented on #158
will work on this enchancement.

[2020-12-09 03:53] mrvncaragay commented on #158
@danilobatson do you want the "Download Our App" in the header to show on every screens (Donate, Volunteer...)? or just in Home screen.

[2020-12-09 08:10] #158 closed

[2020-12-09 15:52] danilobatson opened #160 "Volunteer Page Infographic"
**Describe the bug**
The infographic on the volunteer page is too big. At 100% it is too large to consume. I zoomed out to 50% just to get the screenshot. I would like to resize it smaller where this info is consumable.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'spicygreenbook.org/volunteer'
2. See error

**Screenshots**
<img width="1440" alt="Screen Shot 2020-12-09 at 7 49 03 AM"

[2020-12-09 21:46] Arax1 commented on #160
Because this is about the volunteer page, I'll try and resize the infographic to fit into the new design

[2020-12-10 03:09] danilobatson commented on #160
Great, thank you

[2020-12-10 14:59] danilobatson opened #161 "Instagram Thread Not Present"
**Describe the bug**
The photos from the Instagram are not on the homepage anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'spicygreenbook.org'
2.  Scroll down to the bottom right below @spicygreenbook
3. See error

**Expected behavior**
Should be a thread of our recent photos on IG

**Screenshots**

![image](https://user-images.githubusercontent.com/69876068/101788713-453c3f8

[2020-12-10 16:47] pleaseshutup commented on #161
fixed in fe36a55ee172ed1ad97077f4d9773e236e883956

devs stop disabling it!!

[2020-12-10 16:47] #161 closed

[2020-12-10 20:52] danilobatson opened #162 "Add Listing Page"
Would like to modify the add listing page to the image below.

The hyperlink for "Fill Out Form" should go to this link: https://www.honeybook.com/widget/spicy_green_book_159485/cf_id/5f6bf5318be9f533980593fa

Here is the figma if you prefer instead of a screenshot:
https://www.figma.com/file/aEeUdhgwUqOAk9aC0egEuh/SGB?node-id=4%3A2

![image](https://user-images.githubusercontent.com/69876068/1018

[2020-12-11 05:29] mrvncaragay commented on #162
I will work on this task.

[2020-12-11 19:16] rrajra commented on #156
I'll start working on this.

[2020-12-11 19:31] danilobatson commented on #162
@mrvncaragay I can probably get a photo of the infographic to put on prismic but I can't do the bottom half with the photo and the links

[2020-12-11 19:53] mrvncaragay commented on #162
@danilobatson okay, sounds good. will work on the bottom part.

[2020-12-12 01:16] danilobatson commented on #162
@mrvncaragay great, the top has been adjusted.

[2020-12-13 02:43] #162 closed

[2020-12-15 20:45] #160 closed

[2020-12-15 20:45] #145 closed

[2020-12-15 20:49] mrvncaragay commented on #40
@Arax1 i think it is safe to close this?

[2020-12-15 20:55] Arax1 commented on #40
I think so too, until more improvements are needed in the future.

[2020-12-15 20:55] #40 closed

[2020-12-15 22:45] mrvncaragay commented on #16
@Arax1 can we close this one too?

[2020-12-15 22:47] Arax1 commented on #16
Done for now.

[2020-12-15 22:47] #16 closed

[2020-12-16 14:03] pleaseshutup opened #167 "Simple Widget/Listing Output"
We have a design:
https://www.figma.com/file/MO7jvg61xrROSzSDNiX8DP/SBG-Open-Graph-Listing-Images?node-id=0%3A1

Start with pages/biz/[name].js and create pages/widgets/biz/[name].js which generates a page that looks like the above (as fast as possible). This should be statically built. It should use the primary image for the listing and/or the first image found in the list of images

What we will

[2020-12-16 14:04] pleaseshutup commented on #156
@rrajra let us know a status on this if you can finish it or someone else should jump on it

[2020-12-16 14:04] pleaseshutup commented on #155
@straightupcoding is still working on this, he's updating us in slack.

[2020-12-16 14:05] pleaseshutup commented on #137
This is for guessing the user's location when ip address is the only information we have. Before the client is loaded and not on a mobile device or browser with the feature enabled.

[2020-12-16 14:06] pleaseshutup commented on #108
Closing again, we've had lots of work since this and don't seem to have anyone reporting this issue anymore.

[2020-12-16 14:07] pleaseshutup commented on #21
@its-nate hows the hand? Should someone else take up this task?

[2020-12-16 17:02] pleaseshutup commented on #108
Re-opening:
Per Anne Craig:
Hi Dan. I cannot remember how to put a web issue in GitHub. I continually have problems loading website on iPhone Safari. A friend just wrote me that she sent link to 2 friends with iPhones and it is crashing on their phone as well. Her Android is working fine.

NOTE: I (dan) do not have easy access to an iphone so I can't test this.

[2020-12-16 18:34] rrajra commented on #156
@pleaseshutup should be finished with this today

[2020-12-17 01:33] its-nate commented on #21
Hey Dan, so sorry for the delay on this... the hand is on the mend and I'm back at the keyboard! Understand if you want to give it to someone else but I can have something by the end of this weekend, if that timeline's ok. Thanks!

[2020-12-17 01:37] pleaseshutup commented on #21
Cool please keep working on it and if you can't finish it just let us know and maybe someone can pick up where you left off.

[2020-12-19 00:12] danilobatson opened #168 "Priority: Volunteer Page"
****Describe** the bug**
The volunteer page is not displaying the infographic despite inputting it on prismic. Seems that the hyperlink to the flyer saying "Download our printable volunteer flyer here" may be causing some problems.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'www.spicygreenbook.org/volunteer'
2. Scroll down
3. See no infographic image displayed.

**Expected behavio

[2020-12-19 01:41] #21 closed

[2020-12-20 02:34] #168 closed

[2020-12-20 16:54] pleaseshutup commented on #156
Hows it going? Jump into slack if you have any questions!

[2020-12-20 17:05] pleaseshutup opened #171 "Volunteers Page"
A page to showcase all of our volunteers and their contributions.
This is separate from the "Volunteer" page which provides information for potential volunteers.

All of the work is setup for you. in screens/Volunteers.js this code shows a grid layout (which is just a copy of the press page) and you will be able to see the data available. Our goal here is to give credit to those who have volunteer

[2020-12-20 17:08] pleaseshutup opened #172 "Testimonials page"
All of the work is setup here. We do not have a design so please edit/test the screens/Testimonials.js page to see the basic structure and implement as you like. Should be available on the site at /testimonials.

Once done we can link to it in the nav and footer.

[2020-12-21 01:12] danilobatson opened #173 "App Onboarding Slides"
Would like the implement the following design as intro for the first time download of the SGB app.

![image](https://user-images.githubusercontent.com/69876068/102729633-56bbed80-42e6-11eb-8ad5-b029beeb8368.png)

[2020-12-21 01:18] danilobatson commented on #21
@its-nate did you finish this task?

[2020-12-21 02:44] cshin1 commented on #173
More details here below.

[01-Onboarding Assets.zip](https://github.com/spicygreenbook/greenbook-app/files/5722045/01-Onboarding.Assets.zip)

Figma file for spacing and sizes: https://www.figma.com/file/Qzv2RolEDbyClN65tiHEts/Spicy-Green-Book-Copy?node-id=206%3A0

[2020-12-21 18:50] Arax1 commented on #173
I will take up this task and see what I can do

[2020-12-21 21:21] danilobatson opened #174 "Add Listing Page Repeat"
**Describe the bug**
Text on the add listing page is repeated.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to www.spicygreenbook.org/add
2. Scroll down to the bottom
3.. See error

**Expected behavior**
We should delete the copy right above the couple's photo that says "Are you ready? Let's fill out the volunteer form"

**Screenshots**
![image](https://user-images.githubusercontent.co

[2020-12-21 21:27] danilobatson opened #175 "Mobile Only (App & Website): Add Listing Page"
**Describe the bug**
Image that exist on the spicygreenbook.org/add page on the desktop is not present on mobile. Image showcases error. Go to the page on desktop to see what it is supposed to look like.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to spicygreenbook.org/add
2. Scroll down.
3. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.
![imag

[2020-12-21 21:56] danilobatson opened #176 "Hyperlink Text Overlay Home Page"
![image](https://user-images.githubusercontent.com/69876068/102825764-52e6a480-4394-11eb-8c8a-b4fe6f008b68.png)

Would like to implement this design on the homepage for our three call to actions.

They should be hyper linked to go to the following pages respectively

1. https://www.spicygreenbook.org/add
2. https://www.spicygreenbook.org/donate
3. https://www.spicygreenbook.org/volunteer

**Please

[2020-12-21 22:04] danilobatson opened #177 "Homepage Additions"
Would like to make some changes to the the home page. See the footer, map, testimonial section, and "Become" section.

The testimonials section would need to work as a slideshow that changes automatically but also manually (arrows as in the listing section)

![image](https://user-images.githubusercontent.com/69876068/102938201-b3431800-4460-11eb-863b-d0bded1257cf.png)

[2020-12-22 02:05] danilobatson opened #178 "HIGH PRIORITY: Primsic copy issue"
**Describe the bug**
This bug happens THROUGHOUT the website for all copy managed on prismic.

All the copy seems to have a format error every time copy is either in bold or hyperlinked.

The copy will insert a line break right after when it shouldn't be. The image will showcase one example but this is happening on multiple web pages.

In the example in the screenshot it would be where it says "Do

[2020-12-22 05:53] danilobatson opened #179 "YouTube Promotion"
Need a YouTube logo for our channel to be placed next to our other socials.

Should go to this link: https://www.youtube.com/channel/UCS5gEWNUF2fibLwwxFibKGg

Screen shot shows current social links, not what it should look like.

![image](https://user-images.githubusercontent.com/69876068/102854247-feb0e400-43d6-11eb-9aa7-29433449663c.png)

[2020-12-22 16:57] pleaseshutup commented on #178
fixed in 0c1369025caa3aca8458e20667ae0b850499ba96

[2020-12-22 16:57] #178 closed

[2020-12-22 17:14] pleaseshutup commented on #175
fixed in f0dee52bf8cfd4b24ccf908fbf961ac2122252b0

[2020-12-22 17:14] #175 closed

[2020-12-22 17:15] #179 closed

[2020-12-22 17:15] pleaseshutup commented on #176
You really want it to say "Become a Donate" ???

[2020-12-22 17:17] pleaseshutup commented on #174
That text appears twice. Do you want it removed from the top (green) or next to the button?

if you want it off the top, remove it in prismic. If you want it off the left of the button, it would look strange.

@danilobatson

[2020-12-22 17:20] danilobatson commented on #176
@pleaseshutup no in the description I noted that it should read "Become a donor" just didn't want them to make go through the trouble of editing the design on something that is easily adjustable on implementation.

[2020-12-22 17:22] danilobatson commented on #174
Got it.

[2020-12-22 17:23] danilobatson commented on #174
@pleaseshutup actually doesn't look like that text is in prismic

[2020-12-22 17:40] danilobatson commented on #156
@rrajra any updates on this?

[2020-12-22 17:44] pleaseshutup commented on #177
@danilobatson please add real testimonials. If we add this to the site without them it will look terrible.
I've updated prismic to reflect the fields presented in this design.

[2020-12-22 17:45] danilobatson commented on #177
@pleaseshutup will do

[2020-12-22 17:48] rrajra commented on #156
Sorry, had to go out of state for a little. It’s done.

[2020-12-22 17:51] anneocraig opened #180 "Search Function Problem"
When I search a zip code. I find a list of businesses I like. I link to one of them. But when I decided to go back I not only have to do the search all over again, it takes me back to the info from a search I've already abandoned.

For example: I search zip code 11415, but I put the zip code in the wrong place and get nothing. I realize my error and put it in the right place and get a list of busi

[2020-12-22 17:53] pleaseshutup commented on #174
It's in the graphic, lol. I cropped it in prismic and published.

[2020-12-22 17:53] #174 closed

[2020-12-22 18:30] danilobatson opened #181 "Font Size"
The font size is currently at 24. Can we bring it down to 16?

[2020-12-22 18:35] danilobatson opened #182 "Footer Alignment"
The footer has been reorganized.

See image. Please keep YouTube link as the last one on the social

![image](https://user-images.githubusercontent.com/69876068/102921523-5b48e900-4441-11eb-923f-55bcb1c6c424.png)

[2020-12-22 19:48] danilobatson opened #183 "PRIORITY: App Listing Photos"
**Describe the bug**
On our app you cannot go through the gallery of photos on the listing. You can only see the first three photos on the listing but can't open it to go through the gallery.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the spicy green book app
2. Click on any listing
3. Click on any photo
4. See error

**Expected behavior**
The gallery should open up for you to go

[2020-12-22 20:40] danilobatson opened #184 "HIGH PRIORITY: Arrows on mobile web uy76"
**Describe the bug**
For the photo gallery the arrows are too large. The arrows need to be a lot smaller so we can see the photo of food.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to www.spicygreenbook.org on your phone
2. Click on any listing
3. Open up the gallery
4. See error

**Expected behavior**
Arrows need to not hamper the view of the photos.

![image](https://user-images.gi

[2020-12-22 22:16] danilobatson commented on #177
@pleaseshutup testimonials have been updated.

[2020-12-22 22:18] danilobatson commented on #177
Here is the content needed for this:

![four-way-fist-bump-at-work](https://user-images.githubusercontent.com/69876068/102938056-652e1480-4460-11eb-9d97-a63d237c421c.jpg)

![Photo-Frame](https://user-images.githubusercontent.com/69876068/102938089-74ad5d80-4460-11eb-8934-1990e68c4f07.png)
![PiggyBank-Small](https://user-images.githubusercontent.com/69876068/102938092-75de8a80-4460-11eb-93bf-3fb325

[2020-12-22 22:27] danilobatson commented on #156
I don't see it on the site. Has is been deployed

[2020-12-22 23:23] mrvncaragay commented on #183
@danilobatson  I implemented a basic carousel native version 1948d8ef05c4bb8d0cd6efabfb126ac4b7cb3196

Uploading Screen Recording 2020-12-22 at 3.19.16 PM.mov…

[2020-12-22 23:58] mrvncaragay commented on #184
I'm adjusting the caret sizes.

[2020-12-23 00:10] mrvncaragay commented on #181
@danilobatson can you be more specific to which font size need to be change? are referring to the entire pages? or specific screen?

[2020-12-23 00:21] mrvncaragay commented on #176
I'm implementing this now

[2020-12-23 01:33] danilobatson commented on #181
@mrvncaragay I am referring to copy on entire pages.

[2020-12-23 01:54] danilobatson commented on #183
@mrvncaragay the video didn't load and I don't see it implemented on the app yet. I don't know if you deployed it

[2020-12-23 01:56] danilobatson commented on #176
@mrvncaragay I don't know how to merge but the complete additions can be found on #177

[2020-12-23 01:58] danilobatson commented on #182
![image](https://user-images.githubusercontent.com/69876068/102950293-31aeb280-447f-11eb-8876-a2b42d220b01.png)

[2020-12-23 04:27] mrvncaragay commented on #184
I updated the sizes here 1c000df4817d3a05a6d9bc517c069a89dc985f01. Note that app needs to be updated in app store and google play to see this change. will close for now.

[2020-12-23 04:27] #184 closed

[2020-12-23 04:29] mrvncaragay commented on #176
Implemented the call to action section 4a604ecdb1bb3321189bd349bc9e926b117e804e. Closing this to reference #177 instead.

[2020-12-23 04:29] #176 closed

[2020-12-23 04:32] mrvncaragay commented on #177
#176 is implemented 4a604ecdb1bb3321189bd349bc9e926b117e804e

[2020-12-23 16:40] pleaseshutup commented on #182
Whoever implements this design please do NOT enforce any heights on elements as that technique will not work with responsive design. As the screen gets smaller the content begins to wrap/stack more and things get taller.

[2020-12-23 17:41] #182 closed

[2020-12-23 17:41] pleaseshutup commented on #182
I opted to not make the "press kit" link dark green as it was hard enough to see in the provided design

[2020-12-23 22:18] danilobatson opened #185 "URGENT: Display cut off on mobile web"
**Describe the bug**
Some of the display on the mobile web has been cut off. Note all the the white space to right. Does not fit entire phone screen. See photo.
**To Reproduce**
Steps to reproduce the behavior:
Go to spicygreenbook.org
See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

![image](https://user-images.githubusercontent.com/69876068/103040915-ba822

[2020-12-23 22:47] #185 closed

[2020-12-23 22:47] pleaseshutup commented on #183
the new builds will be up soon

[2020-12-24 14:04] pleaseshutup commented on #47
i'll do this now

[2020-12-24 15:13] #47 closed

[2020-12-24 15:13] pleaseshutup commented on #137
i'll do this now

[2020-12-24 15:17] rossedwardsus commented on #137
Ip address is often inaccurate due to the way that networks work.  You can use geolocation on the browser however web based geolocation is not as accurate as native is.  It might be good enough though.

[2020-12-24 15:37] pleaseshutup commented on #137
Thanks @rossedwardsus we're doing this in addition to that feature already implemented.

[2020-12-24 17:00] #137 closed

[2020-12-24 18:37] rrajra commented on #156
Sorry for the delay, just got home. I forked the main repo and the updated contact page is there.

[2020-12-24 18:39] pleaseshutup commented on #167
i'll do this

[2020-12-24 19:01] pleaseshutup commented on #156
@rrajra could you please make a PR? In the main readme of this repo there is some instructions on how to do that.

also please validate that your fixes look good on mobile/desktop web as well as native mobile apps via expo.

[2020-12-24 19:22] pleaseshutup commented on #167
Done.

check it out

https://www.opengraph.xyz/url/https:%2F%2Fspicygreenbook.org%2Fbiz%2Fbillionaire-pizza-co/

try sharing a biz on social

[2020-12-24 19:22] #167 closed

[2020-12-25 07:00] danilobatson opened #188 "PRIORITY: Merchandise Page"
Looking to design the merchandise page.

We will be using Shopify. We can create a page on our site and embed their code to display our merch options for users to purchase from our site.

**HERE IS THE DESIGN MOCKUP**

https://www.figma.com/file/CJGYXDaErs16vy6O97oAWL/Merchandise?node-id=0%3A1

![image](https://user-images.githubusercontent.com/69876068/103123983-fbb62d80-463a-11eb-94c0-f3733e2707

[2020-12-25 22:32] mrvncaragay commented on #183
This issue is now resolve with the new build.

[2020-12-25 22:32] #183 closed

[2020-12-27 02:41] #180 closed

[2020-12-27 15:14] pleaseshutup commented on #188
Send me the login access to shopify so I can just figure it out.

[2020-12-27 16:52] pleaseshutup commented on #155
This is done. Thanks @straightupcoding

[2020-12-27 16:52] #155 closed

[2020-12-27 18:37] pleaseshutup commented on #188
Implemented

[2020-12-27 18:37] #188 closed

[2020-12-28 08:50] mrvncaragay commented on #177
initial implementation 200d535de67009e6c2f64fc5798dc8b5b2b7b532 has been deployed.

[2020-12-28 08:50] #177 closed

[2020-12-28 09:28] danilobatson opened #190 "Map Issues"
**Describe the bug**
The map displays the incorrect number of states. I count 21 states. It displays 23 states

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'www.spicygreenbook.org
2. Scroll down to the map
3. See error

**Expected behavior**
Should display the correct number of states

**Screenshots**
![image](https://user-images.githubusercontent.com/69876068/103204361-0cb9a580-48a

[2020-12-28 09:31] danilobatson opened #191 "Map Hyperlink"
**Describe the bug**
The entire state should be displayed hyperlinked. It seems that on the desktop when hovering over the state the mouse does not change to the hand to signify that it is hyperlinked.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'www.spicygreenbook.org'
2. Scroll down to the map
3. Hover your mouse over the map
4. See error

**Expected behavior**
Mouse should chang

[2020-12-28 09:36] danilobatson opened #192 "Home Page Testimonial Gallery"
**Describe the bug**
The testimonial section of the home page is supposed to rotate to show the several available testimonials. It currently shows only one testimonial. Note the error in the first photo and how it is supposed to be displayed in the second photo.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to www.spicygreenbook.org
2. Scroll down to testimonials
3. See error

**Expecte

[2020-12-28 17:34] pleaseshutup commented on #190
What's correct?

[2020-12-28 17:42] pleaseshutup commented on #190
23 seems correct. Probably unable to see/count the smaller states like DC

[2020-12-28 17:42] #190 closed

[2020-12-28 18:47] danilobatson opened #193 "URGENT: Donate Page"
**Describe the bug**
None of the forms to donate are listed on the page. There is supposed to be two for PayPal (subscribe vs one time payment) and another form for stripe

**To Reproduce**
Steps to reproduce the behavior:
1. Go to www.spicygreenbook.org/donate
2. Scroll down to
3. See error

**Expected behavior**
Should be three places for someone to donate. Two on PayPal and one via Stripe.

**S

[2020-12-28 19:01] danilobatson opened #194 "PRIORITY"
**Describe the bug**
The footer on the merchandise page is covering the products.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'www.spicygreenbook.org/shop'
2. See error

**Expected behavior**
Footer should be at the bottom

**Screenshots**
![image](https://user-images.githubusercontent.com/69876068/103237284-ffc4a280-48fb-11eb-956a-655c9cf0c1c2.png)

[2020-12-28 19:38] its-nate commented on #193
Stripe form is back as a hotfix, working on implementing PayPal still, changes coming today.

[2020-12-29 19:13] joshkwannacode commented on #191
Hey I think I fixed it, I'll push the code soon!

[2020-12-29 20:56] danilobatson commented on #171
Here is the design for that

https://www.figma.com/file/Qzv2RolEDbyClN65tiHEts/Spicy-Green-Book?node-id=221%3A0

[2020-12-29 22:04] damienaries commented on #171
Taking on this issue, first time working on this app so any advice /  suggestions are always welcome!

[2020-12-29 22:05] mrvncaragay commented on #191
Thanks @joshkwannacode for fixing.

[2020-12-29 22:05] #191 closed

[2020-12-29 22:12] #194 closed

[2020-12-29 22:13] pleaseshutup commented on #192
the testimonials swipe for me. check again? close if done.

[2020-12-29 22:20] danilobatson commented on #192
Yes it was fixed.

[2020-12-29 22:20] #192 closed

[2020-12-29 22:23] pleaseshutup commented on #172
Here is the design:
https://www.figma.com/file/Xd3J4jmrUjFosCb14JGouN/SGB?node-id=15%3A0

[2020-12-29 22:55] mrvncaragay commented on #171
@pleaseshutup i saw your slack message in regards to this. do you need the entire page build or just the modal part?

[2020-12-29 23:06] damienaries commented on #171
I was trying to figure out the same thing

[2020-12-29 23:19] pleaseshutup commented on #171
Just the modal is left but feel free to touch up anything else ... Pull master and see where I left off.

[2020-12-29 23:21] pleaseshutup commented on #171
Just the modal is left but feel free to touch up anything else ... Pull master and see where I left off.

[2020-12-30 03:02] danilobatson opened #198 "Newsletter Sign Up"
Would like to add a newsletter sign up on the home page.

Should be just under the Instagram section and right above the quote on the home page.

Here is the design:

https://www.figma.com/file/ZWRwmbNbrr2WmauBhdccru/Spicy-Green-Book-Newsletter?node-id=0%3A1

[2020-12-30 11:17] danilobatson commented on #198
Whoever chooses to do this let me know so I can give you access to Mailchimp.

Not sure if I am doing this completely right to embed what Mailchimp provides in our design but this is the code they gave me. I'm sure it will have to be altered.

<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#f

[2020-12-30 11:19] danilobatson opened #199 "Home Page Shop"
Would like to highlight our shop on the homepage. I think this should go right under the map.

Here is the design

https://www.figma.com/file/n0a7wZFrZzoXTZKBmkCkbe/Spicy-Green-Book-Shop-Section?node-id=0%3A1

[2020-12-31 01:00] danilobatson opened #200 "MailChimp"
Need to connect our domain to MailChimp. See screenshot. What needs to be copied is pasted below pic

![image](https://user-images.githubusercontent.com/69876068/103388899-65fa2280-4ac0-11eb-880d-251af9bfb5c1.png)

us10-434dc55d-51c52bc37485392a66fae588d.pages.mailchi.mp

148.105.251.17

[2020-12-31 01:32] danilobatson opened #201 "URGENT: Site is down"
**Describe the bug**
Can't access the site.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to www.spicygreenbook.org
2. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/69876068/103389650-f8042a00-4ac4-11eb-8e55-5d91edbd5969.png)

**Desktop (please complete the following information):**
 - OS: iOS
 - Browser chrome

[2020-12-31 02:12] #201 closed

[2020-12-31 18:54] danilobatson opened #202 "Merchandise Home Page"
Would like to put this on our home page. Should go right under the map. See design here:

https://www.figma.com/file/n0a7wZFrZzoXTZKBmkCkbe/Spicy-Green-Book---Shop-Section?node-id=0%3A1

[2020-12-31 18:57] danilobatson opened #203 "Newsletter Footer"
I would like to put a subscribe to our newsletter in the footer. Please see design:

https://www.figma.com/file/EolQYmJ9dOoHkILxEeHJA2/Footer?node-id=0%3A1

[2020-12-31 19:35] danilobatson commented on #203
Whoever chooses to do this let me know so I can give you access to Mailchimp if need be.

Not sure if I am doing this completely right to embed what Mailchimp provides in our design but this is the code they gave me. I'm sure it will have to be altered.

<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{ba

[2020-12-31 19:43] danilobatson commented on #172
Updated design link:

https://www.figma.com/file/Xd3J4jmrUjFosCb14JGouN/SGB?node-id=127%3A16

[2020-12-31 20:02] danilobatson opened #204 "Navigation Dropdown"
**Describe the bug**
The about section in nav does not show the drop down arrow on the home page. See screenshot

**To Reproduce**
Steps to reproduce the behavior:
1. Go to spicygreenbook.org
2. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/69876068/103424261-fe93af80-4b5f-11eb-83fa-2cb6eb93e17b.png)

**Desktop (please complete the following information):**
 - OS: [

[2021-01-01 01:13] danielpquinn commented on #202
I will pick up this task

[2021-01-01 05:41] danilobatson opened #205 "Priority: Listing Not Showing"
**Describe the bug**
A few listing are not showing up. I am getting the following screenshot. I believe there will be more as it seems to be a thing that is happening as I upload graphics in place of photos for businesses we haven't had photo shoots at. I will link the few that I have seen.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to:

spicygreenbook.org/thomas-smokey-pit-stop
https

[2021-01-01 18:32] pleaseshutup commented on #200
This is instructions to make mailchimp the host for www.spicygreenbook.org and spicygreenbook.org and we do not want to do this.

[2021-01-01 18:32] #200 closed

[2021-01-01 19:16] #205 closed

[2021-01-01 19:41] danilobatson opened #208 "Testimonials, Volunteers"
**Describe the bug**
The testimonial section on the home page has volunteers in it. Should only have business owners in it. I note two volunteers on this gallery.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'www.spicygreenbook.org'
2. Scroll down to testimonials
3. See error

**Expected behavior**
Should only be business owners

**Screenshots**
![image](https://user-images.githubus

[2021-01-01 20:31] gkemp94 commented on #203
I'll take this one on! :-D

[2021-01-02 01:04] gkemp94 commented on #198
Will also take this one! :)

[2021-01-02 02:07] #208 closed

[2021-01-02 04:58] danilobatson opened #211 "PRIORITY: Shop Products Missing"
**Describe the bug**
A few items we sell are missing from the Spicy Green Book store. That being the T shirt and the Women's Racerback. Screenshots show the items that are missing.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to spicygreenbook.org/shop
2. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/69876068/103451064-14929480-4c74-11eb-9742-0d2e2b17512d

[2021-01-02 09:40] danilobatson opened #212 "SGB Store vs Shopify"
Our store functions through Shopify.

On our Shopify site, items are clickable to see multiple images as opposed to our site where you can only see one image per product.

I wanted to see if it was possible to make our clickable to see multiple photos.

Here is the link to our shopify store so you can see what I mean.
https://spicy-green-book.myshopify.com/collections/all

vs our store
https://spi

[2021-01-02 19:49] pleaseshutup commented on #212
Shopify does not give much customization for the "store button" integration to throw products on a different website than the shopify store. if you want all the features shopify offers we shoudl probably link people to the shopify store and not spicygreenbook.org/shop

We could alias shop.spicygreenbook.org to the shopify site if you want it on our own domain and not a myshopify.com domain.

[2021-01-02 19:49] #212 closed

[2021-01-02 19:50] pleaseshutup commented on #211
Not really something I can fix. I have all the products in via shopify using the criteria of anything over a dollar and anything under a dollar gets added to the "website" list and that list is on spicygreenbook.org/shop  so maybe we should go with plan B which is in another ticket where i suggest we just link to the shopify store and not try to put it on spicygreenbook.org/shop

[2021-01-02 19:50] #211 closed

[2021-01-02 20:02] danilobatson commented on #212
@pleaseshutup  yes can we alias it?

[2021-01-02 20:40] mrvncaragay commented on #204
@danilobatson is this still the case on your end? dropdown arrow is showing on my end.

[2021-01-02 20:41] danilobatson commented on #204
@mrvncaragay no this has been resolved. Thank you

[2021-01-02 20:41] #204 closed

[2021-01-02 20:41] danilobatson commented on #211
@pleaseshutup yes lets go with the alias

[2021-01-02 20:42] danilobatson commented on #211
@pleaseshutup it was a new product I added. I think everytime I add a product it has to be redone. If you can show me how, I can do it

[2021-01-02 23:15] pleaseshutup commented on #202
FYI the link to the store is now https://shop.spicygreenbook.org

[2021-01-02 23:15] pleaseshutup commented on #199
I think this is a duplicate task.

[2021-01-02 23:16] pleaseshutup commented on #212
done. https://shop.spicygreenbook.org

[2021-01-02 23:16] danilobatson commented on #199
Whoops

[2021-01-02 23:16] #199 closed

[2021-01-03 00:55] #203 closed

[2021-01-03 00:57] straightupcoding opened #213 "AboutUs.js Screen - Spelling Errors/Punctuation"
Misspellings
![image](https://user-images.githubusercontent.com/72773131/103469554-ebcdd600-4d2b-11eb-85fb-1841c807deb3.png)

Missing space
![image](https://user-images.githubusercontent.com/72773131/103469574-115adf80-4d2c-11eb-8ace-bfa1a6a8aca1.png)

[2021-01-03 03:14] #193 closed

[2021-01-03 20:01] danielpquinn commented on #202
Implemented by PR #216

[2021-01-03 20:01] #202 closed

[2021-01-04 23:59] domferris commented on #172
I'll hop on this one ✅

[2021-01-05 04:03] #213 closed

[2021-01-05 06:04] #181 closed

[2021-01-06 20:07] danilobatson opened #220 "Report: Mobile Speed"
Website report states we can make improvements in our mobile speed. See image

![image](https://user-images.githubusercontent.com/69876068/103815051-9c332700-5017-11eb-86c2-60bf6709599c.png)

[2021-01-06 20:08] danilobatson opened #221 "Report: Control Your Search Listing"
Website report states we should add descriptions to our search listings. See image

![image](https://user-images.githubusercontent.com/69876068/103815173-d0a6e300-5017-11eb-8b31-3e2069e7670a.png)

[2021-01-06 20:09] danilobatson opened #222 "Report: Voice Search"
Website report states we can make improvements for voice search. See image

![image](https://user-images.githubusercontent.com/69876068/103815256-eddbb180-5017-11eb-9f9e-9b22595a0c2a.png)

[2021-01-06 20:09] danilobatson opened #223 "Report: Vitals"
Website report states we can make improvements for our vitals. See image

![image](https://user-images.githubusercontent.com/69876068/103815322-0ba91680-5018-11eb-8c34-888ea234648b.png)

[2021-01-06 20:11] pleaseshutup commented on #221
We have the tags and the "meta description" box in prismic for all content pages and the home page.

If there is a page where you can't configure this make an issue for it to be statically defined in the code and please provide the actual text you want in there.

You may wish to consult with someone that understands meta descriptions for what to put in each page for the the optimal results with go

[2021-01-06 20:11] #221 closed

[2021-01-07 18:38] danilobatson opened #224 "FAQ Page"
Would like to implement this design.

https://www.figma.com/file/7clc110IsxrYosmjr4DZdO/FAQ-s?node-id=0%3A1

[2021-01-09 16:36] pleaseshutup commented on #171
i'll do the modal

[2021-01-09 21:38] pleaseshutup commented on #171
This is done, however, I wouldn't mind if someone could clean up the look a bit to be more polished to match the provided design.

[2021-01-10 15:35] pleaseshutup commented on #224
i got this

[2021-01-10 16:15] pleaseshutup commented on #224
all done in commit 917f0da035441f22be3ef83b668b22f26a12bc24

[2021-01-10 16:15] #224 closed

[2021-01-12 00:07] danilobatson opened #225 "Meta description for spicygreenbook.org"
**Describe the bug**
The word compile is spelled wrong in our meta description

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a search engine
2. Type spicy green book
3. See error in search results

**Screenshots**
![image](https://user-images.githubusercontent.com/69876068/104252487-0b998400-5427-11eb-9478-8c4d1c05a6c8.png)

[2021-01-12 15:53] #225 closed

[2021-01-12 17:07] danilobatson opened #226 "Browse Sorting Feature"
Would like to implement a sorting feature when viewing our listings.

Here is the design: https://xd.adobe.com/view/4816ff3f-bdb1-4955-b1ad-ddac4bbf62d5-1d45/

[2021-01-12 21:30] danilobatson opened #227 "PRIORITY: Volunteer Credit Order"
Would like the order of the volunteers displayed to be randomized each time you visit the page if possible like our browse listings page is.

Alternatively if someone can implement sorting and filtering features that would work too.

[2021-01-12 22:09] danilobatson commented on #172
@domferris any updates?

[2021-01-12 22:10] danilobatson commented on #156
@rrajra @pleaseshutup is this task complete?

[2021-01-12 22:11] danilobatson commented on #173
@Arax1 any updates on this?

[2021-01-12 22:11] danilobatson commented on #198
@gkemp94 any updates on this?

[2021-01-12 23:47] danilobatson opened #228 "Shop Redirect: Mobile Site"
**Describe the bug**
Link to Store in the menu on mobile page takes you to the wrong stie.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'spicygreenbook.org'
2. Click on 'Store' in nav
3. See error

**Expected behavior**
It should open up a new tab to go to http://shop.spicygreenbook.org

**Smartphone (please complete the following information):**
 - Device: [iPhone11]
 - OS: [iOS]

[2021-01-13 03:36] domferris commented on #172
@danilobatson still working through this. Aiming to have a preview this weekend!

[2021-01-13 13:25] C-Garza commented on #226
Hello, I saw this issue and would like to work on it. I actually have been and pretty much got it done, but it's actually gotten pretty late 😅, so I'll finish it up and make a pull request tomorrow.

[2021-01-13 13:27] danilobatson commented on #226
@C-Garza great. Thank you so much

[2021-01-13 15:01] gkemp94 commented on #198
@danilobatson Yep, still in the works, got side tracked with Client work this week. Will have availability this weekend to complete.

[2021-01-13 18:27] danilobatson opened #229 "Home Page Order"
Can we switch the order and put the "Become A" section above the "Testimonial" Section?

Picture shows current order to be changed

![image](https://user-images.githubusercontent.com/69876068/104493476-f1c48200-5589-11eb-89e0-bbb287f087ae.png)

[2021-01-13 18:32] danilobatson opened #230 "PRIORITY: Logo Switch"
Can we replace the current logos on the site with our new logo? There is a white one right above the green one in case you can't see it

![image](https://user-images.githubusercontent.com/69876068/104493885-8fb84c80-558a-11eb-9366-ad41f33d31b5.png)
![image](https://user-images.githubusercontent.com/69876068/104493906-96df5a80-558a-11eb-9f24-464765e1c0bd.png)
![image](https://user-images.githubuser

[2021-01-13 18:39] danilobatson commented on #198
@gkemp94 great. Thank you

[2021-01-13 18:56] dominickreever commented on #227
Working on this now.

[2021-01-13 23:32] dominickreever commented on #227
Submitted pull request for this issue.

[2021-01-14 15:16] #226 closed

[2021-01-14 19:42] danilobatson opened #233 "PRIORITY: Add Listing Page Design"
Here is the new design for the add listing page

https://www.figma.com/file/H82MWVCTbpKzLwuVI9axbX/Add-Listing-01?node-id=0%3A1

Here is the embed for the video: <iframe width="476" height="267" src="https://abc7.com/video/embed/?pid=9623765" frameborder="0" allowfullscreen></iframe>

[2021-01-14 19:49] danilobatson opened #234 "PRIORITY: Sponsor Page"
Here is the design for the Sponsor page.

https://www.figma.com/file/2xEc3ABhBfN5otdvfdRLTE/Sponsors-Page-Spicy-Green-Book?node-id=0%3A1

Still a work in progress but feel free to get started on some of the structural content

[2021-01-14 20:18] danilobatson opened #235 "ABC Video Home Page"
Can we embed this video right above the testimonial section on the home page

<iframe width="476" height="267" src="https://abc7.com/video/embed/?pid=9623765" frameborder="0" allowfullscreen></iframe>

[2021-01-14 20:21] danilobatson opened #236 "ABC Video About Us"
Can we embed this video on the bottom of the About Us Page

<iframe width="476" height="267" src="https://abc7.com/video/embed/?pid=9623765" frameborder="0" allowfullscreen></iframe>

Additionally can we put a button that is hyperlinked to scroll to the video on this page? The button should be placed right under the first section of copy.

The button should look like the "Subscribe" button in the

[2021-01-14 20:24] danilobatson opened #237 "Download Our Flyer"
Would like a button to download our flyer on the add listing page. The button should look like the subscribe button in the screen shot below and should read "Download Our Flyer" and take you to this link:

https://prismic-io.s3.amazonaws.com/spicygreenbook/04cb42ed-a40b-4199-835a-ee1b5f5f6982_SGB+Flyer.pdf

It currently is hyperlinked in the text. So the button can go right below said text.

![ima

[2021-01-14 20:28] danilobatson opened #238 "Press Kit Button"
Would like a button to download our press kit. Should look like the "Subscribe" button in the image below and should read "See Our Press Kit"

![image](https://user-images.githubusercontent.com/69876068/104645533-02492b00-5664-11eb-884f-f354af6bd854.png)

![image](https://user-images.githubusercontent.com/69876068/104645517-fd847700-5663-11eb-81db-e04aa66bd09f.png)

[2021-01-14 22:44] JeroenGoddijn commented on #228
@danilobatson It's seems to be not just the Store.
When I test it, every link you click in Footer takes you to the destination of the navigation-item below it.
For example:

- **About** takes me to **Add Listing**
- **Add Listing** takes me to **Donate**
- **Donate** takes me to **Store**
- **Store** takes me to **Volunteer**
- **Volunteer** takes me to **Press Kit**

[2021-01-14 23:12] danilobatson commented on #228
@JeroenGoddijn Can you either pick up that task or make a GitHub issue?

[2021-01-15 01:52] C-Garza commented on #228
It looks like the bug is because of a padding issue when the screen is resized below 980. I can fix this.

[2021-01-15 16:27] JeroenGoddijn commented on #238
@danilobatson Where do you want this button exactly?

Are you referring to:

- replacing the "View our Press Kit" link with a "See our Press Kit" button on the Press page?
- replacing the "Press Kit" link in the Footer with a "See our Press Kit" button
- add the "See our Press Kit" button in the top navigation?
- somewhere else?

[2021-01-15 17:03] #228 closed

[2021-01-15 17:13] danilobatson commented on #238
I am referring to your first point.

replacing the "View our Press Kit" link with a "See our Press Kit" button on the Press page?

[2021-01-15 17:17] JeroenGoddijn commented on #171
I'll work on some styling issues in page(such as settting minHeight for rows, so they all look the same even if image has different dimensions) and try to make the modal match the design more.

[2021-01-15 17:35] JeroenGoddijn commented on #238
OK. If someone can assign this issue to me, then I'll fix this when I'm done with Volunteers page. Should be later today.

Using these smaller issues to get used to your codebase.

[2021-01-16 05:28] JeroenGoddijn commented on #238
@danilobatson When we deploy the fix, someone needs to remove the "View our Press Kit" link from the CMS. Otherwise, visitors will see the text link first and the green button right underneath it. I added a screenshot of the new version

![localhost_3000_press (1)](https://user-images.githubusercontent.com/48567344/104798084-539f0a80-5789-11eb-87a7-27d47e553ea7.png)

[2021-01-16 05:37] JeroenGoddijn commented on #238
Created pull request and described required manual action during deployment.

Would be great if someone can give me rights to link Pull Requests and Assign Issues to myself. ;)

[2021-01-16 22:32] #171 closed

[2021-01-16 23:45] danilobatson opened #242 "Map is not interactive."
**Describe the bug**
Clicking on the map on the home page does nothing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'www.spicygreenbook.org'
2. Scroll down
3. Click on map
4. See error

**Expected behavior**
Map should show listings in the state separated by metro area.

**Screenshots**
Screenshot just shows map.
![image](https://user-images.githubusercontent.com/69876068/104827370

[2021-01-16 23:51] danilobatson commented on #238
@JeroenGoddijn I will take it off once it is deployed. I don't see it up yet

[2021-01-17 00:37] #238 closed

[2021-01-17 08:37] C-Garza commented on #242
This appears to be an issue with [react-native-svg](https://github.com/react-native-svg/react-native-svg/issues/1483) itself on handling onPress events with G components. It was working before because `react-native-web` version in `package.json` was below version 13 before [this commit](https://github.com/spicygreenbook/greenbook-app/commit/79e1926a01a7ec218979becbf2c9ea123efa8146).

[2021-01-17 23:36] mamta31 commented on #235
I will work on this.

[2021-01-18 22:04] danilobatson opened #246 "Browse Change"
Can we change the title in the nav from "Browse" to "Directory"

[2021-01-19 01:39] danilobatson opened #247 "Additional Page"
Still working on the title of this page but this is a combo of the updates page that currently exist but also a page where users can download social media graphics so they can post and show their support.

Here is the design
https://www.figma.com/file/3wdEnfmrSm04o70Y4mcR5T/Spicy-Green-Book?node-id=0%3A1

[2021-01-19 02:59] pleaseshutup commented on #247
A lot of the code kinda operates on the title/url so let us know when you have that figured out first.

[2021-01-19 20:56] JeroenGoddijn commented on #246
Fixed it in this commit: https://github.com/JeroenGoddijn/greenbook-app/tree/246-navigation-change

It seems to work fine when I tested it, but never hurts for someone else to double check

[2021-01-19 21:21] JeroenGoddijn commented on #237
@danilobatson Little bit of a challenge here, since the content block loaded from CMS contains both text block as well as the 6-step image.

Standard implementation will result in the button showing below the 6-step image. (basicall:, it will just show button underneath whatever content is loaded from CMS)

We can manipulate DOM and try to inject the button above the image or below the last paragr

[2021-01-19 21:29] JeroenGoddijn commented on #156
@rrajra Make sure you push it to the origin: `git push origin master` where you can replace "master" with your branch name that contains the update. Potentially your  work is saved in your forked repository, but not pushed to the main SGB repository...

[2021-01-19 21:55] danilobatson commented on #237
@JeroenGoddijn I am okay with it being below the 6-step infographic

[2021-01-19 21:57] danilobatson commented on #237
@JeroenGoddijn could do the smaller version from the mockups you sent. If it is close to fill out our form button the user can more clearly see they have two options

[2021-01-19 22:20] JeroenGoddijn commented on #237
The smaller version is just mobile web version vs the laptop web version in larger image.

I can put it underneath the 6-step image easily, just let me know if you prefer the button positioned LEFT/CENTER/RIGHT

[2021-01-19 22:31] danilobatson commented on #237
@JeroenGoddijn I think right is best

[2021-01-20 01:08] #237 closed

[2021-01-20 01:08] #246 closed

[2021-01-20 01:09] JeroenGoddijn commented on #237
@danilobatson Submitted the enhancement. You decide if you want to leave the text link above the 6-step image as well or whether you want to remove that...

[2021-01-20 01:18] danilobatson opened #251 "Sort Feature: Next line"
**Describe the bug**
The sort feature on the listings page seems to be too constrained for where it is currently located. I think it will look better if we place it on the next line instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'spicygreenbook.org/searc'
2. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/69876068/105113708-48462a80-5a7a-11eb-996

[2021-01-20 02:40] C-Garza commented on #251
I can fix this. Do you want it to be placed on the next line for all screen sizes or just when it starts to look constrained?

[2021-01-20 02:47] danilobatson commented on #251
Just when it started to look constrained.
On Tue, Jan 19, 2021 at 6:40 PM Christian Garza <notifications@github.com>
wrote:

--
Kind Regards,

Danilo Batson
Founder & Executive Director
Spicy Green Book

D.Batson@spicygreenbook.com
1950 W Corporate Way #21967
Anaheim, CA 92801
www.spicygreenbook.com

[2021-01-20 05:19] JeroenGoddijn commented on #229
This is already the case on homepage.
Did someone forget to close this issue?

However, as a result the 2 green elements Store and Testimonials are now on top of each other and blended into 1 large green element, which (imho) breaks the design of alternating colors and does not look good/pretty/clean...

[2021-01-20 05:27] danilobatson commented on #229
@JeroenGoddijn Yes I screenshotted the error. This needs to be changed to break up the green on green in the current design. This task is agreeing with the sentiment you stated. I would like to me the testimonial section down one to break up the green element

[2021-01-20 05:34] JeroenGoddijn opened #253 "Incorrect label menu-item on mobile web"
If you visit the website on your phone,  you will see the menu in the image below.

The label/text of item "Add request" should be replaced with "Add Listing", but the href/link is correct.

![Screenshot_20210119-230157_Samsung Internet](https://user-images.githubusercontent.com/48567344/105131572-cfad9100-5aae-11eb-9ed2-65b4de96a3c4.jpg)

[2021-01-20 06:56] #247 closed

[2021-01-20 06:57] danilobatson opened #254 "Social Media & SGB Updates Page"
Would like to add this page on the site. This will take place of the update page

Here is the design
https://www.figma.com/file/3wdEnfmrSm04o70Y4mcR5T/Spicy-Green-Book?node-id=0%3A1

[2021-01-20 16:09] phil4lif commented on #253
Working on this.

[2021-01-20 16:41] JeroenGoddijn opened #255 "RFC: Move 'Download our Flyer' button"
From @danilobatson:

I think the download our flyer button should go with the other buttons of “Fill out Form” and “Donate” and be in implemented in that graphic.

Put it as the third one under the donate button line.

Put “Help spread the word about us by downloading and sharing our flyer”

[2021-01-20 17:09] JeroenGoddijn commented on #255
@danilobatson Do you want this button green or white?

I would suggest a white button, so there's only 1 prominent CTA that is green, being the "Fill out Form" button

[2021-01-20 18:12] JeroenGoddijn commented on #255
@danilobatson I went with the white button for now, but can always change that if you want.

Question: is anyone aware that the entire bottom section of addListing page (that image and 3 buttons on the right of that image) is not showing at all in the mobile apps???
As a work-around for mobile app, I have reinstated that DownloadFlyer button underneath the 6-step image for mobile apps only, so tha

[2021-01-20 18:34] phil4lif commented on #253
This issue is fixed with PR #257

[2021-01-20 18:35] #255 closed

[2021-01-20 18:48] danilobatson opened #258 "URGENT: Volunteer Page"
**Describe the bug**
The different roles on the volunteer page don't expand so you can see the job duties

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'spicygreenbook.org/volunteer'
2. Click on 'the +'
3. See error

**Expected behavior**
The copy should expand so you can see the duties of each role

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image

[2021-01-20 19:17] danilobatson commented on #255
@JeroenGoddijn white is good for me

[2021-01-20 20:02] phil4lif commented on #236
@danilobatson Is this just for the web version so in pages/about.js   or do you want the video in Screens/About.js as well?

[2021-01-21 00:48] danilobatson commented on #236
I am not sure I understand your question

On Wed, Jan 20, 2021 at 12:03 PM Phil Cowan <notifications@github.com>
wrote:

[2021-01-21 01:14] phil4lif commented on #236
After looking at the code more closely I realized the question did not make sense.

[2021-01-21 01:19] danilobatson opened #259 "PRIORITY: Broken Photo"
**Describe the bug**
This feature has been very inconsistent and ongoing. Have reported this bug many times currently. Hope to find a long term solution. The photos on the map don't show up on the directory page for several businesses.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'spicygreenbook.org'
2. Click on 'directory'
3. Click on one of the icons on the map
4. See error

**Exp

[2021-01-21 08:32] C-Garza commented on #258
This looks like another issue when `react-native-web` was upgraded to version 13 in [this commit](https://github.com/spicygreenbook/greenbook-app/commit/79e1926a01a7ec218979becbf2c9ea123efa8146). The issue is with `react-native-gesture-handler` and it's described in [this link here](https://github.com/software-mansion/react-native-gesture-handler/issues/1164#issuecomment-684013868).

Possible solu

[2021-01-21 17:03] JeroenGoddijn commented on #258
Running `npm upgrade react-native-gesture-handler@1.9.0` seems to fix it for me too, when I test locally.

[2021-01-21 17:05] #253 closed

[2021-01-21 17:06] JeroenGoddijn commented on #259
I can't reproduce this issue in Chrome (but I don't run iOS).
Someone with an iPhone should reproduce and fix this issue.

[2021-01-21 17:22] #230 closed

[2021-01-21 17:28] JeroenGoddijn commented on #229
@danilobatson I think you might be contradicting yourself then with the request above.

You state that you want "Become a ..." to be positioned BELOW the Testimonials section. But that's already the case on live website.

Please update the issue definition if you want "Become a ..." positioned ABOVE the testimonials section.
However, keep in mind that you've also requested to put the ABC video bet

[2021-01-21 17:30] JeroenGoddijn commented on #242
@C-Garza Should we downgrade `react-native-web` then to v12.3, instead of upgrading the `react-native-gesture-handler` and other packages? Seems the easier solution that will resolve multiple issues at once...

[2021-01-21 17:32] JeroenGoddijn commented on #235
@mamta31 Please make sure you use a white background for this section. That way we resolve the broken design issue of the 2 connecting green background sections at the same time and this video will visually separate the green SHOP and TESTIMONIALS sections.

[2021-01-21 18:47] danilobatson commented on #229
@JeroenGoddijn Yes you are right. My apologies. The "Become A" section should go above the Testimonials section

[2021-01-21 18:48] #229 closed

[2021-01-21 19:11] mamta31 commented on #235
Thank you @JeroenGoddijn. I have started working on this and will use white background.

[2021-01-21 20:00] JeroenGoddijn commented on #108
Is this still a thing/issue?
Has anyone with an iPhone or emulator figured out what is causing it (i.e. iOS version below X, or Safari version below Y)???

Since it's been open for 2 months with no solution, and already another month since it's been reopened, I'm just wondering if this issue can be closed or not...

[2021-01-22 12:30] C-Garza commented on #242
@JeroenGoddijn So I looked a bit more into it. The reason why `react-native-web` was updated was because the expo sdk was updated to version 40, which uses v13. I think it had some pretty significant changes, so now I don't think we should downgrade `react-native-web`.

I think updating `react-gesture-handler` could work for issue #258, but most of my time right now was trying to fix this issue. I

[2021-01-22 14:47] #251 closed

[2021-01-23 01:53] danilobatson opened #262 "Directory Filter"
Looking to implement a filter section on the directory page.

See design

https://xd.adobe.com/view/cf0156f6-6214-4065-8024-64d8b4618e95-9a52/

![image](https://user-images.githubusercontent.com/69876068/105565253-cdc81580-5cda-11eb-915c-efe627466027.png)

![image](https://user-images.githubusercontent.com/69876068/105565231-b2f5a100-5cda-11eb-943b-2beff155d750.png)

[2021-01-23 14:09] pleaseshutup commented on #262
To do this we would have to add the price classification to prismic and on every listing as well as any of those features that apply to a listing.

In order to do "currently open" we'd have to have their hours in a way that can be parsed by a machine to determine if the users browser/device is within the hours they are open.

So we can't do this until all the data is in prismic for the listings. L

[2021-01-23 16:55] gabrielhicks commented on #259
I also have not been able to reproduce this issue with Mac OS X on Safari or Chrome.

[2021-01-23 18:45] danilobatson commented on #262
@pleaseshutup If we have to put all that data into prismic we should actually implement data points now before we have to go back and re-do it all on a ton of listings. Let me gather the data points.

[2021-01-23 18:55] danilobatson commented on #262
@pleaseshutup I am looking on Yelp and I think the following checks would be good options for the user for filtering. Let me know your thoughts:

1. Open Now
2. Alcohol
3. Price filter
4. Takes Reservation
5. Vegan options
6. Vegetarian options
7. Gluten-Free options
8. Meals
9. Offers Delivery
10. Wi-Fi
11. Distance

[2021-01-23 19:01] danilobatson opened #263 "PRIORITY: Testimonials Navigation"
The testimonials page is not in the navigation. Can we add it?

www.spicygreenbook.org/testimonials

[2021-01-24 14:59] pleaseshutup commented on #262
Seems ok to me but my point was to think through all of the data you want to assosiate with a business, consult with the listings and others to really have a solid plan. Then we update prismic. Then we update the app to allow for this.

Most of the listings will have to be updated before we can even offer this feature. Since that will take a lot of time and effort I do recommend a lot of thought i

[2021-01-24 15:00] pleaseshutup commented on #263
im on this

[2021-01-24 15:09] pleaseshutup commented on #259
I recall this being brought up by Danilo a few times and each time have not been able to replicate. My assumption at the time was simply intermittent connectivity to the internet. Only thing that can explain why it works sometimes and does not work sometimes. Would probably need to see his developer tools console in his browser to see if it is some kind of javascript or network error to know where

[2021-01-24 15:22] #258 closed

[2021-01-24 15:32] pleaseshutup commented on #254
So you want the Updates screen updated with this design. Maybe i had internet issues but the actual graphics in that page don't seem to be provided. The spec/request/graphics all have to be provided for a developer to be able to complete this task.

[2021-01-24 15:57] #236 closed

[2021-01-24 19:37] danilobatson commented on #254
@pleaseshutup correct. And there are no graphics aren't in the page because I was hoping that the graphics would be managed through prismic

[2021-01-24 19:37] #262 closed

[2021-01-25 15:31] pleaseshutup commented on #254
Ok i've added a new type in prismic you can add "Social Media Graphics"
From there you can create a new type like "Facebook Profile Graphics"
in that you can add multiple images w/descriptions.

Let me know when those are all in here and then the task is ready to be started.

[2021-01-25 18:43] JeroenGoddijn commented on #263
I was just looking into this too. I assume it refers to the app?
Because on the Web it is in the navigation, just nested under "About".
So, more specifics would help to fix it the right way ;)

[2021-01-25 18:44] pleaseshutup commented on #263
This is all done

[2021-01-25 18:44] #263 closed

[2021-01-26 22:30] danilobatson opened #265 "Copy Edit on the About Us Page"
We need to edit the copy on the About Us Page. The following showcases the copy:

**Mission Statement**

Spicy Green Book’s mission is to build substantive relationships and increase social trust between three groups of people, Black small business owners, potential customers of these businesses located in their communities, and volunteers passionate about economic justice, all in order to improve

[2021-01-27 01:36] mamta31 commented on #265
I Will work on this one.

[2021-01-27 02:12] danilobatson opened #266 "Testimonial Page Link"
Need the testimonial section of the homepage to link to our actual testimonial page. Here is the design.

https://xd.adobe.com/view/3ae53bc3-f00d-4984-866f-c07576e556f4-6fb6/

It should read "See Them All On Our Testimonial Page"

[2021-01-27 19:37] danilobatson opened #267 "Footer Social Media Links Logos"
For the Social Media links in the footer of the site we currently have IG, Facebook, LinkedIn, and YouTube. I would like to add a few more.

1. Add our GitHub.
2. Add our Behance. https://www.behance.net/spicygreenbook/
3. Add our Pinterest. https://www.pinterest.com/spicygreenbook
4. Add email linked logo. admin@spicygreenbook.org

[2021-01-27 20:56] C-Garza commented on #267
I can do this. I'll add it as another row under the existing one.

[2021-01-27 22:13] JeroenGoddijn commented on #267
@C-Garza Keep an eye on issue [198](https://github.com/spicygreenbook/greenbook-app/issues/198) in which the Footer design seems to change.
So, try to implement a flexible solution, so that the Social Media Links/Icons adjust accordingly, when the Footer gets redesigned as shown in design file attached to issue 198.

You can also wait for @gkemp94 to deploy his solution for issue 198, so you can i

[2021-01-27 22:18] JeroenGoddijn commented on #235
@pleaseshutup Can you take a look at this issue? It is open with an outstanding (but conflicting) PR, yet we already seem to have the video implemented on the Home Page...

Not sure if you just want to close this issue and the corresponding PR? Or unlink the current PR from this issue and link the PR that actually got deployed with this enhandement, before closing it??

[2021-01-27 22:21] C-Garza commented on #267
Hey @JeroenGoddijn, it looks like that section was already added in [this commit](https://github.com/spicygreenbook/greenbook-app/commit/15fa5647cbb9fe866d0d25953f90c19455bba4b8). They must have forgotten to close the issue, that design seems to be on the site.

I've just added the social links, so I'll make a pull request soon.

[2021-01-27 22:31] #235 closed

[2021-01-27 22:33] pleaseshutup commented on #235
I accepted the PR it's ok

[2021-01-27 22:33] #266 closed

[2021-01-27 22:37] JeroenGoddijn commented on #267
Interesting... The design in that issue just shows the footer without the Newsletter subscription in there, and instead have the FooterNav links placed left of Social Links...

They probably either forgot to request the changes to the Footer or perhaps decided to not remove the newsletter section from the footer...

[2021-01-27 22:41] C-Garza commented on #267
It looks like the footer newsletter came after that issue here in #203. Here it is being suggested a couple days after that issue.

[2021-01-27 22:53] #267 closed

[2021-01-28 21:28] #227 closed

[2021-01-30 15:07] JeffDegoma opened #270 "join slack, seo, and cross browser"
*** PLEASE READ BEFORE MAKING A FEATURE OR CHANGE REQUEST
Discuss the feature with the #product channel in our slack before creating the issue https://join.slack.com/share/zt-jdggpg0w-2oxQotnStBJ59xDPMXGz~g

Changes may require design direction. Please ensure that any issues created provide clear direction to a developer that can only spare a limited amount of time to look into the project and pro

[2021-01-31 01:41] danilobatson commented on #270
@JeffDegoma what is your email address? I can add you to the slack

[2021-01-31 01:42] danilobatson commented on #270
@JeffDegoma Also feel free to jump in on that task

[2021-01-31 01:53] danilobatson opened #271 "Merch Graphuc Home Page"
Need to update the merch section on the home page.

Here is the design:
https://www.figma.com/file/gQBa7Llmpd1CrkXqyq0q6u/Merch-page?node-id=0%3A1

[2021-01-31 01:57] danilobatson opened #272 "Donate Copy"
Can we edit the copy to say "Support a Black-owned business"

![image](https://user-images.githubusercontent.com/69876068/106372453-a00b4e00-6324-11eb-8019-b5d3e554963c.png)

[2021-01-31 15:59] pleaseshutup commented on #172
I am closing this issue because the Testimonials page was completed by someone else from a duplicate issue. The implementation did not meet the design. I am creating a new issue to resolve any conflicts and have clear direction.

[2021-01-31 15:59] #172 closed

[2021-01-31 16:02] pleaseshutup opened #273 "Update Testimonials Page"
The testimonials page is working, however, we would like it updated to match this design:

https://www.figma.com/file/Xd3J4jmrUjFosCb14JGouN/SGB?node-id=127%3A17

I think at around 600-800 pixels (mobile) everything should probably go to one column but I will leave it to the developer to find the best looking solution as the design is desktop only.

Developer note: all of the data that you need fo

[2021-01-31 16:05] pleaseshutup commented on #198
This looks done. Closing.

[2021-01-31 16:05] #198 closed

[2021-01-31 16:08] pleaseshutup commented on #233
Is this just to do a mobile design or is this the design for mobile and desktop and the developer should just figure out how to make it look right on desktop?

[2021-01-31 16:10] danilobatson commented on #233
@pleaseshutup both phone and desktop

[2021-01-31 16:14] danilobatson commented on #233
@pleaseshutup the designer has stopped working with SGB

[2021-01-31 16:15] pleaseshutup commented on #233
@danilobatson  There needs to be actual content provided. It would take less time to code in the content than it would be to figure out how to split all of the content up in prismic to be editable in order to implement this design. Can you close the issue until all of the content and finalized images are available?

[2021-01-31 16:15] pleaseshutup commented on #173
19 days without an update this task is available.

[2021-01-31 16:20] #234 closed

[2021-01-31 16:24] #272 closed

[2021-01-31 17:11] #271 closed

[2021-01-31 17:12] pleaseshutup commented on #271
FYI the provided design does not allow for a very "responsive" approach. At different widths and heights of screens the cropping of the image becomes hard to manage. It also looks terrible on mobile. If we have images intentionally being cropped off the top or bottom of a content section that is supposed to stack on mobile it doesn't look right.

A better approach would be a graphic that doesn't g

[2021-01-31 18:13] Arax1 commented on #173
The onboarding slides are finished! Sorry for lack of updates on this post. I pushed the final changes yesterday and a few minutes ago and will PR merge after review

[2021-02-01 04:24] danilobatson commented on #233
@pleaseshutup with the original designer not being available do you suggest the copy is placed right here in the GitHub?

[2021-02-01 04:27] pleaseshutup commented on #233
@danilobatson yes that's fine

[2021-02-01 04:51] danilobatson commented on #271
@pleaseshutup I just forwarded this information to the designer

[2021-02-01 05:00] danilobatson commented on #233
@pleaseshutup got it. Closing for now

[2021-02-01 05:00] #233 closed

[2021-02-01 22:27] JeroenGoddijn commented on #270
FYI...it seems like Slack-invite-links expire after X days AND have a cap of 2000 users using it, so you would basically have to update any Slack-invite-links every 30 days or so....

[https://slack.com/help/articles/201330256-Invite-new-members-to-your-workspace#request-an-invitation](https://slack.com/help/articles/201330256-Invite-new-members-to-your-workspace#request-an-invitation)

[2021-02-02 19:25] danilobatson commented on #271
@pleaseshutup this has been updated

https://www.figma.com/file/gQBa7Llmpd1CrkXqyq0q6u/Merch-page?node-id=0%3A1

[2021-02-02 19:26] danilobatson commented on #271
I will make a new issue since this is closed

[2021-02-02 19:26] danilobatson opened #274 "Merch Graphic Home Page"
Need to update the merch section on the home page.

Here is the design:

https://www.figma.com/file/gQBa7Llmpd1CrkXqyq0q6u/Merch-page?node-id=0%3A1

[2021-02-02 20:25] mamta31 commented on #274
I will work on this

[2021-02-02 20:26] domferris commented on #172
Copy that @pleaseshutup -- let me know if I can be of assistance resolving any conflicts.

[2021-02-02 20:52] pleaseshutup commented on #270
We should just link to the slack and say the channel to join that will resolve the issue:
spicy-green-book.slack.com

[2021-02-03 03:04] JeffDegoma commented on #270
@danilobatson jhd8610@gmail.com

pr sent. see ya'll on slack.

[2021-02-03 05:39] pleaseshutup commented on #172
@domferris feel free to look at the new testimonials design and implement :-)
https://github.com/spicygreenbook/greenbook-app/issues/273

[2021-02-04 06:44] ottograjeda commented on #220
New Developer Volunteer here; i.e. 1st comment on this repo.

…

It’s not clear (to me) from the github label for this issue or comments in it, if this is a mobile_app or web_only thing.
I double checked via PageSpeed for mobile devices & desktop... and both are low

~ 17 for mobile devices  (the ~ is a tilde and is symbol for estimate)
https://developers.google.com/speed/pagespeed/insights/?url=h

[2021-02-04 14:27] pleaseshutup opened #277 "Android App Crash [bug reported in slack]"
suggested the user wait for the app to update itself (a nice expo feature)

I personally cannot replicate on my android pixel 3. Those with an android phone see if you can reproduce the issue. Feel free to chime in here with any notes such as "works on my ____ device" or "it crashed on me" any info helps when we have a bug that can't be replicated easily.

[2021-02-04 14:35] pleaseshutup opened #278 "Developer Onboarding Tutorial"
It would be very helpful for any new developers to have a start-to-finish tutorial on contributing code to this project. Assume they are beginners with no experience. The tutorial would walk them through step by step how to:

1. Fork the repo and get their development environment setup
2. Make a change to the code
3. Test and see that change on a mobile device through expo, and mobile/desktop web

[2021-02-04 15:19] pleaseshutup commented on #220
This is for web.

We do static builds. The page could/would load instantly on web and score 100 on both, however, we have a hyrbrid app built on expo/nextjs and have to wait for the fonts to be ready. There is definitely an elegant solution here to get this to load instantaneously because we should have have to wait for data as it is injected into the build via server-side-rendering.

Some attempt

[2021-02-04 15:22] pleaseshutup commented on #220
Forgot to add... This is mostly going to be done via nextjs. The ultimate way to test if everything is great is to do a static build.

You can test in dev via
`npx next dev`

To do a build you do:
`npx next build`

then `npx next start` to run the statically built site locally for doing a lighthouse test on it as you go.

[2021-02-05 00:37] C-Garza commented on #277
I tried replicating those steps on a Samsung Galaxy S8+ and S20 and couldn't get the same behavior.

I did notice that on first install though the Home search and browse don't work when the app is opened for the first time. If you try searching on the Home page, then nothing will happen and the browse page will load forever. If instead you go straight to the browse on first use, the app will just

[2021-02-05 06:37] ottograjeda commented on #220
Ok ; I will work on the task and update the label (assign to me).

[2021-02-05 08:40] ottograjeda commented on #220
I did a quick clone, build, static export, & deploy to Google Firebase: [here](https://t-543-b.web.app/). And the scores are not much different: ~ [18 for mobile devices](https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Ft-543-b.web.app%2F) & ~ [35 for desktop](https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Ft-543-b.web.app%2F&tab=desktop).

PageSp

[2021-02-05 14:33] pleaseshutup commented on #220
@ottograjeda prismic uses imgix to deliver images, the optimization is likely to provide either a casting to a certain type e.g. webp where needed but mostly to set the appropriate width for the device. This can be done via adding &w=500 as an example to the URL to the image. Check in ImageGallery.js you will see we do that but at a very basic level.

https://user-guides.prismic.io/en/articles/330

[2021-02-06 06:12] ottograjeda commented on #220
?

Not sure why image compression is being done @ the tail end ; i.e. Client > Photographer > Prismic > Imgx > Developer.  Usually this done @ the front, by the client/marketing_team who took the photo as part of the sign-off process so they... Client,Photographer,Marketing is 100% happy with it.

If not there, then by a Developer in the middle, who builds the app, prior to deployment, in bulk via

[2021-02-06 06:20] ottograjeda commented on #220
I made effort today to setup & [deploy something](https://tenta.vercel.app/) via Next/Vercel. Kept notes & time,
as I plan to help update the on boarding process for future devs per the new
[issue](https://github.com/spicygreenbook/greenbook-app/issues/278) (post the slack discussion).

I still need to move the SGBapp into it before I make any edits to test
(and close the previously created clone

[2021-02-06 14:50] pleaseshutup commented on #220
Yeap, there are a lot of nitpicks but this is the biggest render blocker from preventing the initial first render to be instant.

[2021-02-06 14:58] pleaseshutup commented on #220
In the world of responsive design the photographer will simply provided the final edited images in a large format. It is on the devs to automatically resize the images on-the-fly depending on the device viewing them. A retina desktop display vs a tablet vs a small mobile screen as well as the actual placement on the page. Does it fill the full width of the device or partial? The photographer canno

[2021-02-07 20:07] JeffDegoma commented on #273
While tinkering around the figma layout I noticed the logos for the listings (and I can easily export them) but does it make more sense to have the logos be added to and pulled from the prismic api?

if I hit that endpoint --> https://spicygreenbook.cdn.prismic.io/api/v1/documents/search?ref=YB8_ShEAACYActNS&q=[[at(document.type%2C+%22testimonial%22)]]&pageSize=100, (most) images of the owners are

[2021-02-07 20:15] JeffDegoma commented on #273
Here's a work in progress.
---

https://user-images.githubusercontent.com/12701844/107158178-4a532900-6956-11eb-9a8d-52a096cab794.mov

---
But instead of `SEE LISTING >` and `WEBSITE >` I liked the logos via the figma layout.

[2021-02-07 20:19] JeffDegoma commented on #273
yikes. i just realized that i commandeered this task without asking. if there are any devs already working on this, hit me up.

[2021-02-08 06:03] ottograjeda commented on #220
Since there is another [issue open for on-boarding new devs](https://github.com/spicygreenbook/greenbook-app/issues/278),
and to avoid having a 10+ page thread, I am going to summarize

* Issue submitted is "Mobile Speed" aka Speed of "Mobile_web" site
* "Speed" is from PageSpeed/Lighthouse "Performance" category
* Current scores are ~ 18/mobile and ~35/desktop ; both low
* Goal is to get higher/b

[2021-02-08 12:48] pleaseshutup commented on #273
@JeffDegoma  Jeff there is already a testimonials page setup with the data coming from prismic. All of the data and images are already there. You are just changing the way the cards are presented. If a person is missing their profile picture it is because they didn't provide one and we'd have to render their card without an image.

This task is all yours to finish up. Just wanted to make sure you

[2021-02-08 14:03] pleaseshutup commented on #220
Hopefully this helps:
With nextjs we use getStaticProps  to get all of the data needed to render the home page (well, all pages) so that they can be statically created at build time. This means that all pages, even though they are built in react, CAN be built to be like a statically code html page that should display instantly. Whenever data is updated in prismic (the CMS) it triggers a deployment

[2021-02-09 01:39] C-Garza commented on #220
Initial rendering issues could maybe mean that initial values are off when rendering the files on the server, like dimension sizes. That could be the cause of those layout issues, I do see some inline styles that are dependent on the dimension size. On the server, those values are probably set initially to undefined and conflict with the client side, and that's why a re-render fixes them.

[2021-02-09 02:27] JeffDegoma commented on #273
@pleaseshutup Thanks for following up. Apologies if I wasn't clear. I'm definitely NOT statically coding anything except the `People are taking notice` headline.  All the people and text *are* being rendered from the data.  My question, as per the desired figma layout, was to find out if the logos should also be included in the data so it can be rendered. Do you still want the Testimonials Page to

[2021-02-09 14:54] pleaseshutup commented on #273
@JeffDegoma OH i see it now! My bad in misunderstanding. I think you should bring it up in the #product channel in slack and determine if they want to manage another image with each testimonial in prismic for a logo or omit that in the implementation of the design. IF they do, we need to get that additional image added to the testimonial template and then someone needs to upload logos. It definite

[2021-02-11 22:16] JeffDegoma commented on #273
@pleaseshutup Not a worry. I totally agree with the logos being managed in the CMS. I was at a crossroads with what to do next but fortunately, rendering the UI is pretty straightforward.

@danilobatson my email is jhd8610@gmail.com. I don't have access to the slack workspace.  Once the #product channel makes a decision to either keep or omit the logos on the updated Testimonials page, the turnaro

[2021-02-12 07:31] ottograjeda commented on #220
Here is the update

* I forked the repo [here](https://github.com/ottograjeda/greenbook-app). Code is from Feb 7, 2021.

* Added my [docs](https://github.com/ottograjeda/greenbook-app/tree/master/_otto_docs) to it; i.e. I recommend you read [my notes](https://github.com/ottograjeda/greenbook-app/blob/master/_otto_docs/02-11-2021%20notes.txt) while working on the issue, as it captures some of my th

[2021-02-12 18:52] pleaseshutup commented on #220
Looks like an improvement. If the app works great on web and expo then you can make a PR and once merged we can begin to switch to using next/image where appropriate or possibly make our own wrapper for <Image /> to use the proper switch for web/native or replace <ResponsiveImage /> to do this for us.

Did you make any progress on the core issue described above? That's what's going to  get us to 1

[2021-02-13 03:29] JPI-Tech commented on #277
I have tested it on my android emulator, and I had no issues on the Pixel 3. What is the error message you get when it crashes ?

[2021-02-14 19:33] pleaseshutup commented on #220
I've also been tinkering with attempting to score higher:
https://github.com/spicygreenbook/greenbook-app/tree/test1

[2021-02-16 22:42] danilobatson commented on #273
@JeffDegoma Thank you so much for picking up on this. This task is a priority. I invited you to the slack

[2021-02-16 22:43] danilobatson commented on #173
@Arax1 @pleaseshutup Where are we on this task?

[2021-02-16 22:44] danilobatson commented on #156
@rrajra Following up on updates for this task

[2021-02-16 22:46] danilobatson commented on #270
@JeffDegoma any updates on this task?

[2021-02-16 22:46] danilobatson commented on #265
@mamta31 Any updates on this task?

[2021-02-16 22:46] danilobatson commented on #274
@mamta31 Any updates on this task?

[2021-02-17 08:04] ottograjeda commented on #220
It works on web ; [anyone can go the URL](https://greenbook-app-liard.vercel.app/) posted earlier and test /team or /faq.

As for testing mobile, you want me to test via expo on desktop or online via a [snack](https://snack.expo.io/) ?
Am double checking before I make a PR and that gets kicked back because I tested wrong.

...

The switch is easy ; it's just updating the files mentioned earlier; i

[2021-02-17 14:44] pleaseshutup commented on #220
To test in expo you run `expo start` on your desktop terminal and then use the Expo Go app on your phone to open the provided test URL which loads the mobile app package on your phone to test on the mobile device.

[2021-02-17 16:52] danilobatson opened #281 "Sponsor Page: High Priority"
Would like to implement this page. Here is the design:

https://quiet-bird-3981.animaapp.io/

[2021-02-17 17:50] Adoni0 commented on #281
I can work on this

[2021-02-17 18:55] heyitsbuse commented on #281
Hi @Adoni0 ! This is my first time handing off a design to a developer, so please let me know if this prototype is sufficient or if you need any more information. Thanks!

[2021-02-17 19:24] Adoni0 commented on #281
Looks good! I don't have have any questions as of now, but if any come up I will let you know.

[2021-02-18 14:08] mamta31 commented on #274
Hi Daniel,
     Yes, I have almost done with it but I am having some trouble with CSS
on mobile. I will get it done by this weekend.

On Tue, Feb 16, 2021 at 5:47 PM danilobatson <notifications@github.com>
wrote:

--
Thanks & Regards,
Mamta Mulchandani

[2021-02-18 20:47] pleaseshutup commented on #220
@ottograjeda could you test in expo (check that native apps work on ios or android) and then do a PR?
We need to get this update to nextjs v10 and use of next/image implemented ASAP to help improve the performance of things ASAP.

You have done great work so far and I do not want to have to do duplicate work to get this patched. Once we merge your changes into master we can start to optimize every

[2021-02-19 00:51] danilobatson opened #282 "Enter Button Search"
I would like the search feature to be triggered when hitting enter after putting in your search terms. As of now you have to actually click on the search button.

[2021-02-19 17:18] mamta31 commented on #265
Hi, I have already finished this and committed my changes 2 weeks back.  The changes are already there on the website "https://spicygreenbook.org/about". Let me know, if I am missing something.

[2021-02-19 17:19] mamta31 commented on #274
I  have done this one and committed my changes. Please let me know, if you can see my changes. Thank you

[2021-02-19 17:20] danilobatson commented on #265
Great, thank you.

[2021-02-19 17:20] #265 closed

[2021-02-19 19:03] pleaseshutup commented on #274
You forked the repo and made a commit to your own fork but you did not create a PR so we're unaware of your changes and cannot automatically merge them in.

https://jarv.is/notes/how-to-pull-request-fork-github/

When you make the PR in your notes can you please confirm you've tested in web and expo go app(native on an android or iphone)

[2021-02-20 17:36] danilobatson opened #283 "Video Thumbnail"
I would like the following to be the image over our ABC video at the bottom half of the home page.

![image](https://user-images.githubusercontent.com/69876068/108603857-21bc2d80-735f-11eb-9ab9-9da8282e84d9.png)

[2021-02-20 17:49] JeffDegoma commented on #270
@danilobatson. yup. I'm on slack and the white space issue is no more. We can riff about SEO on slack, so I can close this and open a new issue on SEO when we drill down to specifics.

[2021-02-20 17:49] #270 closed

[2021-02-20 21:28] C-Garza commented on #282
I'll handle this issue.

[2021-02-20 22:10] C-Garza commented on #278
@pleaseshutup I'm thinking about doing this for #282. Would I have to record audio as well or just annotate the screen? I don't mind doing either.

[2021-02-20 22:16] pleaseshutup commented on #278
Ok I'll take whatever you will give.

You could always upgrade it later when inspired or time permits

On Sat, Feb 20, 2021, 2:10 PM Christian Garza <notifications@github.com>
wrote:

[2021-02-21 16:42] pleaseshutup commented on #220
No update in 4 days i need to take this over to improve web performance per @danilobatson reporting it as "almost unusable" for web.

[2021-02-21 17:12] pleaseshutup commented on #220
I've created <HybridImage /> and <HybridBackgroundImage /> as a drop-in replacement for <Image /> and <BackgroundImage /> we can use these to utilize https://nextjs.org/docs/api-reference/next/image in order to have it auto size images/lazy load etc to improve load times.
We've also upgrade to nextjs v10 in package.json so please npm update when you start working on something or if you have done a

[2021-02-21 18:44] domferris commented on #283
@danilobatson @pleaseshutup on it

[2021-02-22 15:14] #282 closed

[2021-02-22 23:50] C-Garza commented on #278
I'm just updating to say I  should hopefully finish up the tutorial in the next day or two.

[2021-02-23 21:56] danilobatson opened #287 "URGENT: Add Listing Page"
**Describe the bug**
Images are broken on the add listing page. See screenshot

**To Reproduce**
Steps to reproduce the behavior:
1. Go to spicygreenbook.org/add
2. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/69876068/108913522-edef3b00-75de-11eb-9669-0d2f33d3d0b0.png)

**Desktop (please complete the following information):**
 - OS: iOS
 - Browser: chrome

[2021-02-23 22:05] #287 closed

[2021-03-01 04:38] C-Garza commented on #278
@pleaseshutup Sorry for the long delay, some things came up. But I've made a screen recorded video with audio going through the steps for resolving #282. I also have an alternative PDF (and word) document going through all the steps for contributing to this repo. How can I share them with you so you can review them?

[2021-03-01 04:45] pleaseshutup commented on #278
You can send them to me dan@spicygreenbook.com

On Sun, Feb 28, 2021, 8:38 PM Christian Garza <notifications@github.com>
wrote:

[2021-03-02 14:40] goncahepekiz commented on #233
Hello everyone, I am new to the team and I can help you to edit your Figma file. Can you please tell me, what's the goal? What do we want to change or do?

[2021-03-03 20:57] danilobatson opened #289 "About Page Text"
**Describe the bug**
The text is not live. None of the text on this page can be highlighted to be copied.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to spicygreenbook.org/about
2. Highlight text
3. See error

**Expected behavior**
I would like to be able to copy and paste text.

**Desktop (please complete the following information):**
 - OS: [ iOS]
 - Browser [chrome]

[2021-03-04 00:40] pleaseshutup commented on #156
This task is available for someone to complete. Previous volunteer developer has not updated in a while, assumed to be abandoned. Please pick up this task if you like.

[2021-03-04 00:40] pleaseshutup commented on #173
This is done by @Arax1

[2021-03-04 00:40] #173 closed

[2021-03-04 00:42] pleaseshutup commented on #273
@JeffDegoma this seems like it was done can you let us know?

[2021-03-04 00:43] pleaseshutup commented on #274
@mamta31 this is done? was your patch merged? if not can you look at the readme on how to get your code contributed via a fork?
there is even a video now to walk you through it.

[2021-03-04 00:43] pleaseshutup commented on #278
This is done, really great work @C-Garza

[2021-03-04 00:43] #278 closed

[2021-03-04 00:52] pleaseshutup commented on #289
fix deploying

[2021-03-04 00:52] #289 closed

[2021-03-04 04:11] danilobatson commented on #254
@pleaseshutup Done :)

[2021-03-04 19:49] mamta31 commented on #274
Yes, I have already committed the changes and merged them . I got 'vercel'
bot notification that my changes have been merged. Are they not visible?

On Wed, Mar 3, 2021 at 7:43 PM pleaseshutup <notifications@github.com>
wrote:

--
Thanks & Regards,
Mamta Mulchandani

[2021-03-05 20:00] danilobatson opened #290 "Small Video In Listing"
Currently if you go under someone's listing and there is video content it is hard to see. When you click play it plays in a small box that is hard to see unless you go full screen.

I believe that instead of playing there it should open up a new tab to play the video on our YouTube channel.

See the screenshot below. Let me know if this needs clarification.

<img width="1440" alt="Screen Shot 2021

[2021-03-05 20:02] danilobatson opened #291 "SGB App Number"
**Describe the bug**
Currently the app displays the incorrect number of listings. It has been capped at 200 but we have more than that now.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the app
2. Click on Browse
3. See error

**Smartphone (please complete the following information):**
 - Device: iPhone11
 - Browser [SGB App]

[2021-03-05 20:09] danilobatson opened #292 "Share Feature"
When you go under a listing there should be a way to share the listing.

Currently on the app there is no way to do this.

There should be a way to share via text, FB, email, IG, Twitter, Linkkedn, Pinterest, Reddit, copy link, and whatever else is out there.

Image displays the current view on the app that shows no way to share it to another. The following photos show an example of the share feat

[2021-03-05 23:32] montrell12 commented on #292
I'll take care of it

[2021-03-07 15:53] pleaseshutup commented on #291
I will handle this

[2021-03-07 15:54] pleaseshutup commented on #290
i will fix

[2021-03-07 16:27] pleaseshutup commented on #290
fixed in 3856c33e10091db2fc99965258bbcc7e523e70ad

[2021-03-07 16:27] #290 closed

[2021-03-07 16:28] pleaseshutup commented on #283
@domferris looks like you're done?

[2021-03-07 16:28] pleaseshutup commented on #281
@Adoni0 how's it going?

[2021-03-07 16:48] pleaseshutup commented on #274
Just checking to be sure.
I will mark this as done. Thanks @mamta31

[2021-03-07 16:48] #274 closed

[2021-03-07 16:49] pleaseshutup commented on #273
https://spicygreenbook.org/testimonials

seems done to me. closing
@danilobatson just open a new issue if we need tweaks to this page.

[2021-03-07 16:49] #273 closed

[2021-03-07 17:02] pleaseshutup commented on #254
@danilobatson
The FIGMA design implies that you will have a few banners / graphics for each social network

Then in prismic you've uploaded a lot of graphics but we didn't classify (nor even include the option) to classify as to which social network they go to.

I can't make sense of the provided images in prismic vs the design in how to actually implement this. Please elaborate?
Maybe you just wa

[2021-03-07 17:03] pleaseshutup commented on #223
When we score good on the Google PageSpeed score this will also be resolved. Going to close this issue as it is a duplicate. We'll keep the pagespeed score issue open until resolved.

[2021-03-07 17:03] #223 closed

[2021-03-07 17:06] pleaseshutup commented on #222
Is anyone familiar with this?

Seems like the only thing we can do is include the proper meta tags / attributes to provide some hinting to the data on each listing?

They could at least include some documentation on how to resolve this error? I am not entirely sure that this is even something we need to focus on. If someone drops by and see's this issue that has some familiarly with this please ch

[2021-03-07 17:33] pleaseshutup commented on #283
@domferris thanks for your work on this but in order to fix some google page speed issues i had to get this implemented and couldn't wait on you.

Closing.

[2021-03-07 17:33] #283 closed

[2021-03-07 19:35] pleaseshutup commented on #291
new builds up in app store waiting review. will close this once those are all good.

[2021-03-07 19:49] montrell12 commented on #292
Testing it , do you have any specific icon or design you want me to use or do you want me create it myself?

[2021-03-07 20:07] pleaseshutup commented on #292
@montrell12 probably just use the same social icons we use in the footer

[2021-03-07 20:54] Adoni0 commented on #281
Still have a few more styling issues to work out, but I should have it done in the next week.

[2021-03-08 18:19] danilobatson commented on #254
Yes what you said in the latter.

We don't have graphics designed for FB or Twitter so it is better just to list graphics with the title supplied in Prismic and have the Updates after that

[2021-03-10 09:23] danilobatson opened #293 "SGB App Listing Photos"
**Describe the bug**
No photo is popping up for the listing. It appears this may be just the photos loading but we should have something that showcases to the user it is loading because now it just looks like the app isn't working.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to SGB app
2.Go to a listing
3. Click on a photo
4. See error

**Screenshots**
![image](https://user-images.git

[2021-03-10 09:26] danilobatson opened #294 "SGB App Back From Listing"
**Describe the bug**
There is nothing that shows the user how to go back from looking at a listing and return to the search

**To Reproduce**
Steps to reproduce the behavior:
1. Go to SGB app
2. Go to any listing
3. See error

**Expected behavior**
User should have a way to go back to search directory

**Screenshots**
![image](https://user-images.githubusercontent.com/69876068/110606983-98b73b80-8

[2021-03-10 09:34] danilobatson opened #295 "SGB App Logo"
**Describe the bug**
SGB App displays incorrect logo

**To Reproduce**
Steps to reproduce the behavior:
1. Go to SGB App
2. See error

**Expected behavior**
Replace with this logo.

![SGBlogo_with Name_Green_4800](https://user-images.githubusercontent.com/69876068/110608093-bc2eb600-8140-11eb-8d85-be08c53e52e7.png)

**Screenshots**
Screenshot shows error

![image](https://user-images.githubusercon

[2021-03-10 22:19] danilobatson opened #296 "Home Page Videos"
We currently have a video of our ABC coverage on the home page. Can we remove this?

We put together a commercial together that I would like on the home page. I am thinking this page goes right under the app links and right above the "About Us"

![image](https://user-images.githubusercontent.com/69876068/110705719-a1ddf200-81ab-11eb-91b9-c32a970ef4a0.png)

The file is too big to put on here. I wil

[2021-03-10 22:22] danilobatson opened #297 "High Priority: Press Links Missing"
**Describe the bug**
Press links on the home page are missing. I am not sure what happened to them.
**To Reproduce**

Steps to reproduce the behavior:
1. Go to spicygreenbook.org
2. See error

**Expected behavior**
There should be logos of our press coverage in the green space

**Screenshots**

![image](https://user-images.githubusercontent.com/69876068/110705977-00a36b80-81ac-11eb-9293-0ac06e0cc2

[2021-03-11 00:09] #297 closed

[2021-03-11 01:05] #296 closed

[2021-03-11 01:07] #295 closed

[2021-03-11 01:35] codecustard commented on #294
I'd be happy to work on this issue!

[2021-03-11 15:08] pleaseshutup commented on #292
@montrell12 hows it going?

[2021-03-11 15:21] montrell12 commented on #292
Will be done by Saturday

[2021-03-11 23:03] danilobatson opened #298 "URGENT: Video Home Page"
**Describe the bug**
Video on home page does not play

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'spicygreenbook.org'
2. Click on play
3. see error

**Expected behavior**
Video should play

**Desktop (please complete the following information):**
 - OS: [iOS]
 - Browser [chrome

[2021-03-11 23:20] danilobatson opened #299 "Home Page Video"
I would like wherever capable (Desktop, SGB app, and mobile web) for the video on the home page to auto play. If possible I would like to auto play muted and then a user can click on it if they actually want to see it and hear the audio.

[2021-03-11 23:27] #299 closed

[2021-03-11 23:27] pleaseshutup commented on #298
fixed in 592c1ff

[2021-03-11 23:27] #298 closed

[2021-03-12 01:58] danilobatson opened #300 "SGB App Merch Promo"
**Describe the bug**
The merchandise graphic merchandise is off. Hard to see the clothes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to SGB app
2. Scroll down
3. See error

**Expected behavior**
Refer to how it looks on desktop

**Screenshots**

![E8F5D53F-E0E3-44BE-AF59-FFD5ECA671D5](https://user-images.githubusercontent.com/69876068/110880103-ef815a00-8292-11eb-84da-d2559d32ab35.pn

[2021-03-12 02:02] danilobatson opened #301 "SGB App New listing"
**Describe the bug**
The photos aren’t showing on the new listing portion  on the page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to SGB app
2. Scroll down
3. See error

**Screenshots**

![D0A0DE21-5046-4565-9424-70BD959A701A](https://user-images.githubusercontent.com/69876068/110880574-b3022e00-8293-11eb-990a-30403d938db8.png)

**Smartphone (please complete the following information

[2021-03-13 21:17] pleaseshutup commented on #301
i'll fix this

[2021-03-13 21:34] pleaseshutup commented on #300
@danilobatson Could you like me to the figma files that show how this is supposed to look on desktop and mobile?

[2021-03-13 22:44] pleaseshutup commented on #293
This works fine on iPhone native and web.

Opening the gallery on android completely crashes the app and I have no idea why and spent some time trying to debug and still at a loss. It happens when you try to do `navigation.navigate('ModalImages'` from `Listing.js `

You see that in used in` <BrowseStackNavigator>` and clearing a lot of that out still causes the issue. This is probably something to

[2021-03-15 09:28] danilobatson commented on #300
@pleaseshutup https://www.figma.com/file/gQBa7Llmpd1CrkXqyq0q6u/Merch-page?node-id=0%3A1

[2021-03-15 17:22] danilobatson opened #302 "Footer Change"
I would like the footer redesigned. Please see image below

![image](https://user-images.githubusercontent.com/69876068/111194339-54310300-8578-11eb-8f98-d34d590aaa10.png)

[2021-03-15 17:24] danilobatson opened #303 "Map Color"
I would like to change the map from grayscale. Please see image below for new map.

![image](https://user-images.githubusercontent.com/69876068/111194556-8e020980-8578-11eb-8b41-4733021a58a5.png)

[2021-03-16 00:29] mamta31 commented on #302
@danilobatson I will work on this.

[2021-03-16 22:06] C-Garza commented on #303
I will handle this.

[2021-03-17 00:12] #303 closed

[2021-03-17 00:34] pleaseshutup commented on #281
@Adoni0 was able to commit a PR and merge into the sponsors branch.

I think the final isue was getting things to scroll down the page on native apps (works fine on web)
And this same issue needs to get fixed on #172

[2021-03-17 17:22] JeroenGoddijn commented on #291
App is updated and available in both app stores.

[2021-03-17 18:01] pleaseshutup commented on #277
Android crashes whenever you go to a listing and tap on a photo.
The error has to do with React Native Stack Navigator

[2021-03-17 19:30] pleaseshutup commented on #108
Bug confirm fixed by Anne Craig via slack

[2021-03-17 19:30] #108 closed

[2021-03-17 21:43] C-Garza commented on #277
@pleaseshutup I can't seem to replicate this photo bug on my device, both with the app from the play store and on my local machine.

[2021-03-17 23:55] pleaseshutup commented on #277
@C-Garza well that's kind of a relief that the app works great for people but also concerning that it crashes on my device.
for me it is certainly crashing when i go to an individual listing an then tap on a photo from the top to see all the listings photos.

[2021-03-21 17:34] pleaseshutup commented on #254
done in 476abc67daa5f79e331c9e08c7d0a3d604bcb2a0

[2021-03-21 17:34] #254 closed

[2021-03-21 17:36] pleaseshutup commented on #281
This is deployed, the scrollTo function is messed up in expo. Not sure whats up but frankly it is not needed in the mobile app, sponsors page totally works in the app just doesn't have the jump-to buttons. Realistically our sponsors will visit us on the website using work computers and not a personal mobile device IMO.

Lets call this closed.

Thanks again @Adoni0 for your work on this.

[2021-03-21 17:36] #281 closed

[2021-03-21 17:37] pleaseshutup commented on #292
hi @montrell12 thanks for working on this! can you do a PR to get us these changes?

If you don't think you can complete the work, you could possibly do a PR in a separate branch so someone can finalize it?

[2021-03-21 17:38] pleaseshutup commented on #301
i fixed this

[2021-03-21 17:38] #301 closed

[2021-03-22 17:29] danilobatson commented on #254
@pleaseshutup still a few things missing on this design. I will make a new issue request

[2021-03-22 17:34] danilobatson opened #308 "Social Media and Updates Page Design Continued"
This is continued from issue #254

Would like to implement[ this design for a page](https://www.figma.com/file/3wdEnfmrSm04o70Y4mcR5T/Spicy-Green-Book?node-id=0%3A1).

Some parts of the design have already been put on the site.

The things that are missing are:

1. The copy paragraph at the top of the page
2. Ability to download the social media graphics
3. The copy that clearly sections the Socia

[2021-03-22 17:35] danilobatson commented on #254
@pleaseshutup see #308

[2021-03-22 17:55] danilobatson opened #309 "Mobile Audit: 22 Resources that did not load (1)"
The following did not load in a mobile audit report. I did not do this report myself but I tested a few of these and they loaded on desktop but not on mobile.

**1. Resource:**
https://accounts.livechatinc.com/customer?license_id=12115266&flow=button&response_t
ype=token&client_id=c5e4f61e1a6c3b1521b541bc5c5a2ac5&redirect_uri=https%3A%2F%
2Fsecure.livechatinc.com%2Flicence%2F12115266%2Fv2%2Fopen_c

[2021-03-22 17:57] danilobatson opened #310 "Mobile Audit: 22 Resources that did not load (2)"
The following did not load in a mobile audit report. I did not do this report myself but I tested a few of these and they loaded on desktop but not on mobile.

**2. Resource:**
https://images.prismic.io/spicygreenbook/160efa04-0b99-4eaa-b314-ac9cb8a618e1_Royal
Cottage_MorganWhitneyPhotography-44.jpg?auto=compress,format&w=600

a. Type: Image
b. Status: Other error

[2021-03-22 17:57] danilobatson opened #311 "Mobile Audit: 22 Resources that did not load (3)"
Resource:
https://images.prismic.io/spicygreenbook/339758ec-5c02-46a0-b655-91af83e1a3bd_KIMI
KO_Retouched_pic.jpg?auto=compress,format&w=600

a. Type: Image
b. Status: Other error

[2021-03-22 18:36] danilobatson opened #312 "Mobile Audit: 22 Resources that did not load (4)"
Resource:

https://images.prismic.io/spicygreenbook/34efb347-c041-458b-98c0-e737ff78b4ba_DSC_
8486.jpg?auto=compress,format&rect=67,726,3032,2021&w=4284&h=2856&w=600

a. Type: Image
b. Status: Other error

[2021-03-22 18:37] danilobatson opened #313 "Mobile Audit: 22 Resources that did not load (5)"
The following did not load in a mobile audit report. I did not do this report myself but I tested a few of these and they loaded on desktop but not on mobile.

5. Resource:

https://images.prismic.io/spicygreenbook/40ab5aec-493e-423f-a9e6-3a003e774505_10796409280__45A2961.jpg?auto=compress,format&rect=1150,1004,1543,1929&w=4000&h=
5000&w=600

a. Type: Image
b. Status: Other error

[2021-03-22 18:42] danilobatson opened #314 "Mobile Audit: 22 Resources that did not load (6)"
The following did not load in a mobile audit report. I did not do this report myself but I tested a few of these and they loaded on desktop but not on mobile.

6. Resource:

https://images.prismic.io/spicygreenbook/53e0a63c-0c59-4236-aaa1-3972daac076d_Th
omas_Smokey_BBQ_Pit_Lisa_Nichols_Photo-255.jpg?auto=compress,format&rect=173,0,
578,755&w=1000&h=1306&w=600

a. Type: Image
b. Status: Other erro

[2021-03-22 18:42] danilobatson opened #315 "Mobile Audit: 22 Resources that did not load (7)"
The following did not load in a mobile audit report. I did not do this report myself but I tested a few of these and they loaded on desktop but not on mobile.

Resource:
https://images.prismic.io/spicygreenbook/53fd5e50-dcc4-4abd-8995-89320a62f648_07
5GDLL1001824HadezFoodTruck2020.jpg?auto=compress,format&rect=0,0,969,969&w=8
00&h=800&w=600

a. Type: Image
b. Status: Other error

[2021-03-22 18:43] danilobatson opened #316 "Mobile Audit: 22 Resources that did not load (8)"
The following did not load in a mobile audit report. I did not do this report myself but I tested a few of these and they loaded on desktop but not on mobile.

Resource:
https://images.prismic.io/spicygreenbook/9f9640f5-720e-44d9-97fb-1a17d4fef3fe_IXC-28.
jpg?auto=compress,format&rect=0,0,1728,2658&w=1300&h=2000&w=600

a. Type: Image
b. Status: Other error

[2021-03-22 18:44] danilobatson opened #317 "Mobile Audit: 22 Resources that did not load (9)"
The following did not load in a mobile audit report. I did not do this report myself but I tested a few of these and they loaded on desktop but not on mobile.

Resource:
https://images.prismic.io/spicygreenbook/b81a65ba-216d-44e7-8ace-900e142a9504_IMG
_4501.jpg?auto=compress,format&rect=368,60,894,1192&w=1536&h=2048&w=600

a. Type: Image
b. Status: Other error

[2021-03-22 18:44] danilobatson opened #318 "Mobile Audit: 22 Resources that did not load (10)"
The following did not load in a mobile audit report. I did not do this report myself but I tested a few of these and they loaded on desktop but not on mobile.

Resource:
https://images.prismic.io/spicygreenbook/c7c07e47-0781-420e-b7b9-c91c29794022_Luc
hals_30.jpg?auto=compress,format&rect=458,0,4000,4000&w=3000&h=3000&w=600
a. Type: Image
b. Status: Other error

[2021-03-22 18:44] danilobatson opened #319 "Mobile Audit: 22 Resources that did not load (11)"
The following did not load in a mobile audit report. I did not do this report myself but I tested a few of these and they loaded on desktop but not on mobile.

Resource:
https://images.prismic.io/spicygreenbook/f1cf0355-c639-4657-8027-8e4418ab2a26_DSC
_5088.jpg?auto=compress,format&w=600
a. Type: Image
b. Status: Other error

[2021-03-22 18:45] danilobatson opened #320 "Mobile Audit: 22 Resources that did not load (12)"
The following did not load in a mobile audit report. I did not do this report myself but I tested a few of these and they loaded on desktop but not on mobile.

Resource: https://js.stripe.com/v3/m-outer-0cba8a995d163797499ab006bbb6b889.html

a. Type: Other
b. Status: Other error

[2021-03-22 18:45] danilobatson opened #321 "Mobile Audit: 22 Resources that did not load (13)"
The following did not load in a mobile audit report. I did not do this report myself but I tested a few of these and they loaded on desktop but not on mobile.

Resource:
https://spicygreenbook.org/_next/image?url=%2Fimages%2Fhome_hero.png&w=1080&q=
75
a. Type: Image
b. Status: Other error

[2021-03-22 18:45] danilobatson opened #322 "Mobile Audit: 22 Resources that did not load (14)"
The following did not load in a mobile audit report. I did not do this report myself but I tested a few of these and they loaded on desktop but not on mobile.

Resource:
https://spicygreenbook.org/_next/image?url=%2Fimages%2Flogo_nav_dark.png&w=1080
&q=75
a. Type: Image
b. Status: Other error

[2021-03-22 18:46] danilobatson opened #323 "Mobile Audit: 22 Resources that did not load (15)"
The following did not load in a mobile audit report. I did not do this report myself but I tested a few of these and they loaded on desktop but not on mobile.

Resource:
https://spicygreenbook.org/_next/static/images/SigningUp-1273a8de78f1b58b771d59e1db
0210ec.png
a. Type: Image
b. Status: Other error

[2021-03-22 18:46] danilobatson opened #324 "Mobile Audit: 22 Resources that did not load (16)"
The following did not load in a mobile audit report. I did not do this report myself but I tested a few of these and they loaded on desktop but not on mobile.

Resource: https://spicygreenbook.org/api/instagram
a. Type: XHR
b. Status: Other error

[2021-03-22 18:46] danilobatson opened #325 "Mobile Audit: 22 Resources that did not load (17)"
The following did not load in a mobile audit report. I did not do this report myself but I tested a few of these and they loaded on desktop but not on mobile.

Resource: https://spicygreenbook.org/api/location
a. Type: XHR
b. Status: Other error

[2021-03-22 18:47] danilobatson opened #326 "Mobile Audit: 22 Resources that did not load (18)"
The following did not load in a mobile audit report. I did not do this report myself but I tested a few of these and they loaded on desktop but not on mobile.

Resource: https://spicygreenbook.org/images/happylady.jpg
a. Type: Image
b. Status: Other error

[2021-03-22 18:47] danilobatson opened #327 "Mobile Audit: 22 Resources that did not load (19)"
The following did not load in a mobile audit report. I did not do this report myself but I tested a few of these and they loaded on desktop but not on mobile.

Resource: https://spicygreenbook.org/images/piggy.png
a. Type: Image
b. Status: Other error

[2021-03-22 18:47] danilobatson opened #328 "Mobile Audit: 22 Resources that did not load (20)"
The following did not load in a mobile audit report. I did not do this report myself but I tested a few of these and they loaded on desktop but not on mobile.

Resource: https://spicygreenbook.org/images/testimonial.png
a. Type: Image
b. Status: Other error

[2021-03-22 18:47] danilobatson opened #329 "Mobile Audit: 22 Resources that did not load (21)"
The following did not load in a mobile audit report. I did not do this report myself but I tested a few of these and they loaded on desktop but not on mobile.

Resource: https://spicygreenbook.org/images/together.jpg
a. Type: Image
b. Status: Other error

[2021-03-22 18:48] danilobatson opened #330 "Mobile Audit: 22 Resources that did not load (22)"
The following did not load in a mobile audit report. I did not do this report myself but I tested a few of these and they loaded on desktop but not on mobile.

Resource: https://spicygreenbook.org/intro.mp4
a. Type: Media
b. Status: Other error

[2021-03-22 19:00] #330 closed

[2021-03-22 19:00] #329 closed

[2021-03-22 19:00] #328 closed

[2021-03-22 19:00] #327 closed

[2021-03-22 19:01] #325 closed

[2021-03-22 19:01] #322 closed

[2021-03-22 19:01] #321 closed

[2021-03-22 19:01] #320 closed

[2021-03-22 19:01] #319 closed

[2021-03-22 19:01] #318 closed

[2021-03-22 19:01] #317 closed

[2021-03-22 19:01] #316 closed

[2021-03-22 19:01] #315 closed

[2021-03-22 19:01] #314 closed

[2021-03-22 19:01] #313 closed

[2021-03-22 19:01] #312 closed

[2021-03-22 19:01] #311 closed

[2021-03-22 19:01] #310 closed

[2021-03-22 19:01] #309 closed

[2021-03-23 17:49] danilobatson opened #331 "Home Page Video Thumbnail"
Can we add this as the thumbnail for the video on the home page

![Thumbnail-01](https://user-images.githubusercontent.com/69876068/112193565-3ccfc680-8bc5-11eb-802b-a97fb285b599.jpg)

[2021-03-23 18:08] danilobatson opened #332 "Sponsor Page Copy Bullet Point"
Would like to change the copy on the sponsor page that reads:

"Reach 193+ participating businesses, thousands of customers, and 800+ volunteers"

to now say

"Reach 200+ participating businesses, thousands of customers, and our large volunteer network with over 1000 applications from across the globe"

[2021-03-23 18:22] danilobatson opened #333 "Sponsor Page Sponsor Packet"
The sponsor packet has not been completed yet so I would like to remove that section from the live site.

![image](https://user-images.githubusercontent.com/69876068/112198088-fe88d600-8bc9-11eb-9f9f-887362d8b1fc.png)

[2021-03-23 18:24] danilobatson opened #334 "Remove Live Chat site-wide"
Would like the live chat feature removed from the site totally. This chat feature should be removed. This includes the Live Chat logo in the footer of the site

[2021-03-23 18:25] danilobatson opened #335 "Sponsor Page In Kind Logos"
The logos at in the footer of the site of RE:Store LA and Vercel need to be added to the in kind support section of the sponsor page.

![image](https://user-images.githubusercontent.com/69876068/112198565-7a831e00-8bca-11eb-936b-d695c3bd2688.png)

[2021-03-23 19:05] heyitsbuse opened #336 "Sponsor Page: Fix Header"
_Hi! I'm the Designer who created the Sponsor Page. I'm creating mini issues to cover the most important updates so that the website can better match the prototype: https://quiet-bird-3981.animaapp.io/_

1) This webpage requires a special header where the secondary navigation (green section) is also fixed. See prototype for demo. I understand that on mobile, this will not be achievable.

2) For th

[2021-03-24 01:15] kmr600 commented on #332
I'll handle making this change.

[2021-03-24 02:14] JeroenGoddijn commented on #336
Item 2 has been fixed. Will work on rest tomorrow

[2021-03-24 02:16] JeroenGoddijn opened #339 "Sponsors page missing in mobile navigation"
If you visit website on mobile device, there is no navigation item for the /sponsors page.
Please add this item to the mobile navigation

@C-Garza mentioned these specifics:
"when the web screen size is smaller than 1100px, the Sponsor Us navigation link does not appear in the hamburger menu."

[2021-03-24 02:27] C-Garza commented on #336
@JeroenGoddijn I also noticed another issue and that is when the web screen size is smaller than 1100px, the `Sponsor Us` navigation link does not appear in the hamburger menu.

[2021-03-24 02:46] JeroenGoddijn commented on #336
@C-Garza is that [issue 339](https://github.com/spicygreenbook/greenbook-app/issues/339)???

[2021-03-24 03:11] C-Garza commented on #336
Yes that is, I must have just missed seeing that issue when I commented here.

[2021-03-24 03:33] JeroenGoddijn commented on #336
No worries. Just making sure we're talking about the same thing

[2021-03-24 22:26] JeroenGoddijn commented on #336
@heyitsbuse Please check the fixes [here](https://greenbook-app-git-fork-jeroengoddijn-master-spicygreenbook.vercel.app) and let me know if this works/looks as expected

[2021-03-25 00:07] JeroenGoddijn commented on #333
This will be resolved with the 2nd commit in PR #340

[2021-03-25 00:44] heyitsbuse commented on #336
Hi, only #3 from my list of requests were actioned. Still need to fix #1, #2, and #4. Please look at the prototype for intent.

[2021-03-25 01:09] JeroenGoddijn commented on #336
Not sure where you looked, but for me all items are working now; except for item 1, because that seemed like an informational statement without a specific change request when I read it initially. However, #333 makes it impossible to test item 3 now, as it is temporarily removed.

[2021-03-25 01:11] #333 closed

[2021-03-25 01:11] #336 closed

[2021-03-25 03:25] danilobatson opened #341 "ADD LISTING SCREEN: Add Request Button"
**Describe the bug**
The button on the add page to fill out the form takes them to the wrong link. They should be redirected to this link:

https://spicygreenbook.org/addrequest

Currently they are being redirected to:

https://www.honeybook.com/widget/spicy_green_book_159485/cf_id/5f6bf5318be9f533980593fa

Please make sure to fix this on mobile and app as well

**To Reproduce**
Steps to reproduce

[2021-03-25 16:21] #332 closed

[2021-03-25 18:28] JeroenGoddijn opened #343 "Sponsors screen: Make 2nd/sub navigation fixed to top of screen"
EXTRACTED FROM ISSUE #336 created by @heyitsbuse

Hi! I'm the Designer who created the Sponsor Page. I'm creating mini issues to cover the most important updates so that the website can better match the prototype: https://quiet-bird-3981.animaapp.io/

    This webpage requires a special header where the secondary navigation (green section) is also fixed. See prototype for demo. I understand that o

[2021-03-25 18:30] JeroenGoddijn commented on #341
@danilobatson Can you update this issue with the exact page/screen that this fix relates to?

[2021-03-25 18:33] danilobatson commented on #341
@JeroenGoddijn this is the add request button from spicygreenbook.org/add

It should take you to spicygreenbook.org/addrequest

[2021-03-25 18:37] #341 closed

[2021-03-25 18:38] JeroenGoddijn commented on #341
OK. Should be done now

[2021-03-26 00:35] JeroenGoddijn commented on #335
@danilobatson Is this what you wanted?

https://greenbook-app-git-fork-jeroengoddijn-335sponsorsinkindl-d536e3.vercel.app/sponsors

There are no design specs or designer provided image files for each of the logos, so it's a bit freewheeling with sizes to make them kinda same size

[2021-03-26 00:42] danilobatson commented on #335
@JeroenGoddijn sorry about that. I would ask Buse on slack to better advise on specs. I’m no good at that.

[2021-03-26 00:49] C-Garza commented on #343
I can handle this, I think I know what the issue is preventing it from being fixed.

[2021-03-26 00:56] JeroenGoddijn commented on #343
No, go ahead @C-Garza
I've been working on other issues regarding that page.

Keep in mind we're only showing it on desktop, so that might save you some time/work

[2021-03-26 01:36] JeroenGoddijn opened #347 "SPONSORS: show actual # listed business"
In "Sponsorship Benefits" show the actual number of listed business (= published businesses in Prismic) instead of the current "200+"

[2021-03-26 01:40] JeroenGoddijn opened #349 "SPONSORS: fix styling issue in Sponsorship Levels"
Values in each circle should be all white, but somehow are half white and half green now.

So, both currency icon/symbol and the amount need to be white.

[2021-03-26 02:46] #343 closed

[2021-03-26 02:46] #347 closed

[2021-03-26 02:46] #335 closed

[2021-03-26 02:47] #349 closed

[2021-03-26 07:06] ktgr commented on #331
I'll handle this issue

[2021-03-26 11:51] ktgr commented on #339
I'll handle this issue

[2021-03-26 15:24] #331 closed

[2021-03-26 15:28] JeroenGoddijn commented on #331
Nice job, @ktgr

Looks great.

[2021-03-27 00:00] JeroenGoddijn commented on #302
Any progress/updates on this, @mamta31 ?

[2021-03-27 00:04] JeroenGoddijn commented on #292
🤔 🤷🏽‍♂️

[2021-03-27 20:18] JeroenGoddijn commented on #339
Should be quick-fix in ./components/Menu.js

Main question will be exactly where in that menu @danilobatson wants this menu-item listed ;)

[2021-03-27 20:25] JeroenGoddijn commented on #334
Commented out the respective script (pasted below for documentation purposes) in ./pages/_document.js that injected the LiveChat functionality into the pages

            <script
            dangerouslySetInnerHTML={{
              __html: `
              window.__lc = window.__lc || {};
              window.__lc.license = 12115266;
              (function() {
                var lc = document.cre

[2021-03-27 20:56] heyitsbuse opened #356 "Sponsor Page: Fix Images"
Issues: the two main images on the Sponsor Page are currently stretched which looks strange. Also, the green rectangle beside it is not lining up with the image borders. See prototype for intent: https://quiet-bird-3981.animaapp.io/withcopy

Feel free to reach out to me on slack for any questions.

[2021-03-28 06:10] kmr600 commented on #356
I'll handle this issue

[2021-03-28 14:10] #334 closed

[2021-03-28 14:12] #356 closed

[2021-03-28 16:22] pleaseshutup commented on #339
This is in the native app mobile menu and web mobile menu now.

[2021-03-28 16:22] #339 closed

[2021-03-28 17:20] #300 closed

[2021-03-29 15:56] JeroenGoddijn opened #358 "HOMEPAGE VIDEO: Update placeholder image"
The initial version of the placeholder image resulted in the PLAY-button overlapping the text on mobile devices.
Designer has provided the attached new placeholder image to solve that issue.

![Thumbnail-01](https://user-images.githubusercontent.com/48567344/112864351-5b2e3a00-907d-11eb-8917-6bc68bb5cf73.jpg)